language: go
go:
  - 1.2
  - 1.3
  - 1.4
  - 1.5
  - 1.6
  - 1.7
  - 1.8
  - tip

go_import_path: github.com/lionelbarrow/braintree-go

script:
  - source .default.env
  - go vet ./...
  - go test -v ./...
