---
version: 1
interactions:
- request:
    body: |-
      <transaction>
        <type>sale</type>
        <subscription-id>9h75hg</subscription-id>
        <amount>.10</amount>
        <options>
          <submit-for-settlement>true</submit-for-settlement>
        </options>
      </transaction>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <api-error-response>
        <errors>
          <errors type="array"/>
          <transaction>
            <errors type="array">
              <error>
                <code>91531</code>
                <attribute type="symbol">base</attribute>
                <message>Subscription status must be Past Due in order to retry.</message>
              </error>
            </errors>
          </transaction>
        </errors>
        <params>
          <transaction>
            <type>sale</type>
            <subscription-id>9h75hg</subscription-id>
            <amount>.10</amount>
            <options>
              <submit-for-settlement>true</submit-for-settlement>
            </options>
          </transaction>
        </params>
        <message>Subscription status must be Past Due in order to retry.</message>
      </api-error-response>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002490.846-107.3.151.90-6932839
      X-User:
      - kkf6b66dz8xy83p6
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions/9h75hg/cancel
    method: PUT
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array">
          <add-on>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">1</current-billing-cycle>
            <id>test_add_on</id>
            <name>test_add_on_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </add-on>
        </add-ons>
        <balance>0.00</balance>
        <billing-day-of-month type="integer">23</billing-day-of-month>
        <billing-period-end-date type="date">2018-09-22</billing-period-end-date>
        <billing-period-start-date type="date">2018-08-23</billing-period-start-date>
        <created-at type="datetime">2018-08-23T05:34:50Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:51Z</updated-at>
        <current-billing-cycle type="integer">1</current-billing-cycle>
        <days-past-due nil="true"/>
        <discounts type="array">
          <discount>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">1</current-billing-cycle>
            <id>test_discount</id>
            <name>test_discount_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </discount>
        </discounts>
        <failure-count type="integer">0</failure-count>
        <first-billing-date type="date">2018-08-23</first-billing-date>
        <id>9h75hg</id>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <never-expires type="boolean">false</never-expires>
        <next-bill-amount>1.00</next-bill-amount>
        <next-billing-period-amount>1.00</next-billing-period-amount>
        <next-billing-date type="date">2018-09-23</next-billing-date>
        <number-of-billing-cycles type="integer">2</number-of-billing-cycles>
        <paid-through-date type="date">2018-09-22</paid-through-date>
        <payment-method-token>4ytysh</payment-method-token>
        <plan-id>test_plan</plan-id>
        <price>1.00</price>
        <status>Canceled</status>
        <trial-duration nil="true"/>
        <trial-duration-unit nil="true"/>
        <trial-period type="boolean">false</trial-period>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <description nil="true"/>
        <transactions type="array">
          <transaction>
            <id>27pyabp7</id>
            <status>submitted_for_settlement</status>
            <type>sale</type>
            <currency-iso-code>USD</currency-iso-code>
            <amount>1.00</amount>
            <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
            <sub-merchant-account-id nil="true"/>
            <master-merchant-account-id nil="true"/>
            <order-id nil="true"/>
            <created-at type="datetime">2018-08-23T05:34:49Z</created-at>
            <updated-at type="datetime">2018-08-23T05:34:50Z</updated-at>
            <customer>
              <id>125212251</id>
              <first-name nil="true"/>
              <last-name nil="true"/>
              <company nil="true"/>
              <email nil="true"/>
              <website nil="true"/>
              <phone nil="true"/>
              <fax nil="true"/>
            </customer>
            <billing>
              <id>b7</id>
              <first-name nil="true"/>
              <last-name nil="true"/>
              <company nil="true"/>
              <street-address nil="true"/>
              <extended-address nil="true"/>
              <locality nil="true"/>
              <region nil="true"/>
              <postal-code>94107</postal-code>
              <country-name nil="true"/>
              <country-code-alpha2 nil="true"/>
              <country-code-alpha3 nil="true"/>
              <country-code-numeric nil="true"/>
            </billing>
            <refund-id nil="true"/>
            <refund-ids type="array"/>
            <refunded-transaction-id nil="true"/>
            <partial-settlement-transaction-ids type="array"/>
            <authorized-transaction-id nil="true"/>
            <settlement-batch-id nil="true"/>
            <shipping>
              <id nil="true"/>
              <first-name nil="true"/>
              <last-name nil="true"/>
              <company nil="true"/>
              <street-address nil="true"/>
              <extended-address nil="true"/>
              <locality nil="true"/>
              <region nil="true"/>
              <postal-code nil="true"/>
              <country-name nil="true"/>
              <country-code-alpha2 nil="true"/>
              <country-code-alpha3 nil="true"/>
              <country-code-numeric nil="true"/>
            </shipping>
            <custom-fields/>
            <avs-error-response-code nil="true"/>
            <avs-postal-code-response-code>M</avs-postal-code-response-code>
            <avs-street-address-response-code>I</avs-street-address-response-code>
            <cvv-response-code>I</cvv-response-code>
            <gateway-rejection-reason nil="true"/>
            <processor-authorization-code>N6TQ0S</processor-authorization-code>
            <processor-response-code>1000</processor-response-code>
            <processor-response-text>Approved</processor-response-text>
            <additional-processor-response nil="true"/>
            <voice-referral-number nil="true"/>
            <purchase-order-number nil="true"/>
            <tax-amount nil="true"/>
            <tax-exempt type="boolean">false</tax-exempt>
            <credit-card>
              <token>4ytysh</token>
              <bin>401288</bin>
              <last-4>1881</last-4>
              <card-type>Visa</card-type>
              <expiration-month>12</expiration-month>
              <expiration-year>2019</expiration-year>
              <customer-location>US</customer-location>
              <cardholder-name nil="true"/>
              <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
              <prepaid>No</prepaid>
              <healthcare>Unknown</healthcare>
              <debit>Unknown</debit>
              <durbin-regulated>Unknown</durbin-regulated>
              <commercial>Unknown</commercial>
              <payroll>Unknown</payroll>
              <issuing-bank>Unknown</issuing-bank>
              <country-of-issuance>Unknown</country-of-issuance>
              <product-id>Unknown</product-id>
              <unique-number-identifier>7548503e80b587eb6a3be7487aed7c94</unique-number-identifier>
              <venmo-sdk type="boolean">false</venmo-sdk>
            </credit-card>
            <status-history type="array">
              <status-event>
                <timestamp type="datetime">2018-08-23T05:34:50Z</timestamp>
                <status>authorized</status>
                <amount>1.00</amount>
                <user>Braintree-Go</user>
                <transaction-source>recurring</transaction-source>
              </status-event>
              <status-event>
                <timestamp type="datetime">2018-08-23T05:34:50Z</timestamp>
                <status>submitted_for_settlement</status>
                <amount>1.00</amount>
                <user>Braintree-Go</user>
                <transaction-source>recurring</transaction-source>
              </status-event>
            </status-history>
            <plan-id>test_plan</plan-id>
            <subscription-id[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions/6bh942
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array">
          <add-on>
            [...]
- request:
    body: |-
      <subscription>
        <id>2fb72w</id>
        <options>
          <prorate-charges>true</prorate-charges>
          <revert-subscription-on-proration-failure>true</revert-subscription-on-proration-failure>
          <start-immediately>true</start-immediately>
        </options>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions/2fb72w
    method: PUT
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array">
          <a[...]
- request:
    body: |-
      <subscription>
        <id>b7pc56</id>
        <options>
          <prorate-charges>true</prorate-charges>
          <revert-subscription-on-proration-failure>true</revert-subscription-on-proration-failure>
          <start-immediately>true</start-immediately>
        </options>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
 [...]
- request:
    body: |-
      <subscription>
        <id>k9k9kr</id>
        <options>
          <prorate-charges>true</prorate-charges>
          <revert-subscription-on-proration-failure>true</revert-subscription-on-proration-failure>
          <start-immediately>true</start-immediately>
        </options>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
 [...]
- request:
    body: |-
      <subscription>
        <id>g4vf6b</id>
        <options>
          <prorate-charges>true</prorate-charges>
          <revert-subscription-on-proration-failure>true</revert-subscription-on-proration-failure>
          <start-immediately>true</start-immediately>
        </options>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
 [...]
