---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "4"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/disputes/d5c3mn6zf8njjw5t
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <dispute>
        <id>d5c3mn6zf8njjw5t</id>
        <amount>1.00</amount>
        <amount-disputed>1.00</amount-disputed>
        <amount-won>0.00</amount-won>
        <case-number>CB716257395229</case-number>
        <created-at type="datetime">2018-08-23T05:34:56Z</created-at>
        <currency-iso-code>USD</currency-iso-code>
        <date-opened type="date">2018-08-23</date-opened>
        <date-won nil="true"/>
        <processor-comments nil="true"/>
        <kind>chargeback</kind>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <reason>fraud</reason>
        <reason-code>62</reason-code>
        <reason-description nil="true"/>
        <received-date type="date">2018-08-23</received-date>
        <reference-number nil="true"/>
        <reply-by-date type="date">2018-08-29</reply-by-date>
        <status>lost</status>
        <updated-at type="datetime">2018-08-23T05:35:05Z</updated-at>
        <original-dispute-id nil="true"/>
        <evidence type="array">
          <evidence>
            <id>qkys8frpv97bs6qr</id>
            <comment nil="true"/>
            <category nil="true"/>
            <sequence-number nil="true"/>
            <created-at type="datetime">2018-08-23T05:35:05Z</created-at>
            <sent-to-processor-at nil="true"/>
            <url>https://bt-sandbox-arbiter-evidence-files.s3.amazonaws.com/4ngqq224rnk6gvxh/dispute_attachments/d5c3mn6zf8njjw5t/frontmatter.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=ASIAUNQLLX72ZPASBIIS%2F20180823%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20180823T053558Z&amp;X-Amz-Expires=600&amp;X-Amz-Security-Token=FQoGZXIvYXdzECcaDMlJNPSyl8FdJ8weOiK3AwqsFYZmGbGZvbkKIZ0LEWX6xdk45j9%2FZg0HNUdWBNbQpKf%2BHCemqrUdoFKENfwJn0MCL57WpxTzIHVNnluxKumyz4GqV5vkUfJcviM3[...]
