---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "4"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/disputes/c7kshgr65v63mwrc
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <dispute>
        <id>c7kshgr65v63mwrc</id>
        <amount>1.00</amount>
        <amount-disputed>1.00</amount-disputed>
        <amount-won>1.00</amount-won>
        <case-number>CB691275126230</case-number>
        <created-at type="datetime">2018-08-23T05:34:56Z</created-at>
        <currency-iso-code>USD</currency-iso-code>
        <date-opened type="date">2018-08-23</date-opened>
        <date-won type="date">2018-08-23</date-won>
        <processor-comments nil="true"/>
        <kind>chargeback</kind>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <reason>fraud</reason>
        <reason-code>62</reason-code>
        <reason-description nil="true"/>
        <received-date type="date">2018-08-23</received-date>
        <reference-number nil="true"/>
        <reply-by-date type="date">2018-08-29</reply-by-date>
        <status>won</status>
        <updated-at type="datetime">2018-08-23T05:35:05Z</updated-at>
        <original-dispute-id nil="true"/>
        <evidence type="array">
          <evidence>
            <id>swdhf53cyqzzdnzk</id>
            <comment nil="true"/>
            <category nil="true"/>
            <sequence-number nil="true"/>
            <created-at type="datetime">2018-08-23T05:35:05Z</created-at>
            <sent-to-processor-at nil="true"/>
            <url>https://bt-sandbox-arbiter-evidence-files.s3.amazonaws.com/4ngqq224rnk6gvxh/dispute_attachments/c7kshgr65v63mwrc/frontmatter.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=ASIAUNQLLX723MO5D7U2%2F20180823%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20180823T053558Z&amp;X-Amz-Expires=600&amp;X-Amz-Security-Token=FQoGZXIvYXdzECcaDPfpafJdsaxyjAuH9SK3A9FAfN7Bb2UaNI9FC4qIB4kduvg3giPUA8S2zIuUfzcrxiuB4Bb2KJEsw4sDLjZYz4lOhCTHJyaoVfwNaBGdECdgWkNg9C3Av%2F%2F4yRON[...]
- request:
    body: |-
      <subscription>
        <paymentMethodToken>328frx</paymentMethodToken>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array"/>
        <balance>0.00</balance>
        <billing-day-of-month type="integer">31</billing-day-of-month>
        <billing-period-end-date nil="true"/>
        <billing-period-start-date nil="true"/>
        <created-at type="datetime">2018-08-23T05:36:03Z</created-at>
        <updated-at type="datetime">2018-08-23T05:36:03Z</updated-at>
        <current-billing-cycle type="integer">0</current-billing-cycle>
        <days-past-due nil="true"/>
        <discounts type="array"/>
        <failure-count type="integer">0</failure-count>
        <first-billing-date type="date">2018-08-31</first-billing-date>
        <id>3kqrym</id>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <never-expires type="boolean">true</never-expires>
        <next-bill-amount>20.00</next-bill-amount>
        <next-billing-period-amount>20.00</next-billing-period-amount>
        <next-billing-date type="date">2018-08-31</next-billing-date>
        <number-of-billing-cycles nil="true"/>
        <paid-through-date nil="true"/>
        <payment-method-token>328frx</payment-method-token>
        <plan-id>test_plan_2</plan-id>
        <price>20.00</price>
        <status>Pending</status>
        <trial-duration nil="true"/>
        <trial-duration-unit nil="true"/>
        <trial-period type="boolean">false</trial-period>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <description nil="true"/>
        <transactions type="array"/>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:36:03Z</timestamp>
            <status>Pending</status>
            <user>Braintree-Go</user>
            <subscription-source>api</subscription-source>
            <balance>0.00</balance>
            <price>20.00</price>
            <currency-iso-code>USD</currency-iso-code>
            <plan-id>test_plan_2</plan-id>
          </status-event>
        </status-history>
      </subscription>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"a45cfe147d8fd5a5d36cf63ec13cd4ff"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002560.830-107.3.151.90-6938907
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: |-
      <search>
        <created-at>
          <min type="datetime">2018-08-23T05:27:36Z</min>
          <max type="datetime">2018-08-23T05:37:36Z</max>
        </created-at>
        <plan-id>
          <is>test_plan_2</is>
        </plan-id>
      </search>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions/advanced_search_ids
    method: POST
  response:
    body: |
      <search-results>
        <page-size type="integer">50</page-size>
        <ids type="array">
            <item>2qv2dm</item>
            <item>jvmx9r</item>
            <item>938s7g</item>
            <item>dyfv8m</item>
            <item>563q6b</item>
            <item>gx2d96</item>
            <item>74p86w</item>
            <item>bzvb82</item>
            <item>37h65r</item>
            <item>hwbnsg</item>
            <item>83yhq6</item>
            <item>cz5krb</item>
            <item>46sfp2</item>
            <item>fxr4rw</item>
            <item>65cypm</item>
            <item>b2k2qr</item>
      [...]
[...]
- request:
    body: |-
      <search>
        <created-at>
          <min type="datetime">2018-08-23T05:27:36Z</min>
          <max type="datetime">2018-08-23T05:37:36Z</max>
        </created-at>
        <plan-id>
          <is>test_plan_2</is>
        </plan-id>
        <ids type="array">
          <item>2qv2dm</item>
          <item>jvmx9r</item>
          <item>938s7g</item>
          <item>dyfv8m</item>
          <item>563q6b</item>
          <item>gx2d96</item>
          <item>74p86w</ite[...]
[...]
