---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions/e4sffqf0/line_items
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <line-items type="array">
      <line-item>
        <quantity>1.0232</quantity>
        <name>Name #1</name>
        <description>Description #1</description>
        <kind>debit</kind>
        <unit-amount>45.1232</unit-amount>
        <unit-tax-amount>1.23</unit-tax-amount>
        <discount-amount>1.02</discount-amount>
        <total-amount>45.15</total-amount>
        <unit-of-measure>gallon</unit-of-measure>
        <product-code>23434</product-code>
        <commodity-code>9SAASSD8724</commodity-code>
        <url>https://example.com/products/23434</url>
        <tax-amount>4.55</tax-amount>
      </line-item>
      </line-items>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"3e9deeb36504ffa9cca7c37cd1472312"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002508.405-107.3.151.90-2898044
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
