---
version: 1
interactions:
- request:
    body: |-
      <customer>
        <first-name>John</first-name>
        <last-name>Smith</last-name>
        <company>PaginationTest-46183865934929389194633737010477647484</company>
      </customer>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/customers
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <customer>
        <id>261051249</id>
        <merchant-id>4ngqq224rnk6gvxh</merchant-id>
        <first-name>John</first-name>
        <last-name>Smith</last-name>
        <company>PaginationTest-46183865934929389194633737010477647484</company>
        <email nil="true"/>
        <phone nil="true"/>
        <fax nil="true"/>
        <website nil="true"/>
        <created-at type="datetime">2018-08-23T05:34:59Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:59Z</updated-at>
        <custom-fields/>
        <credit-cards type="array"/>
        <addresses type="array"/>
      </customer>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"c80d5a4d7e32278371ea80fc1282d6de"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002499.496-107.3.151.90-2897529
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |-
      <credit-card>
        <customer-id>672915366</customer-id>
        <venmo-sdk-payment-method-code>stub-4111111111111111</venmo-sdk-payment-method-code>
      </credit-card>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/payment_methods
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <credit-card>
        <bin>411111</bin>
        <card-type>Visa</card-type>
        <cardholder-name nil="true"/>
        <commercial>Unknown</commercial>
        <country-of-issuance>Unknown</country-of-issuance>
        <created-at type="datetime">2018-08-23T05:35:00Z</created-at>
        <customer-id>672915366</customer-id>
        <customer-location>US</customer-location>
        <debit>Unknown</debit>
        <default type="boolean">true</default>
        <durbin-regulated>Unknown</durbin-regulated>
        <expiration-month>01</expiration-month>
        <expiration-year>2015</expiration-year>
        <expired type="boolean">true</expired>
        <healthcare>Unknown</healthcare>
        <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
        <issuing-bank>Unknown</issuing-bank>
        <last-4>1111</last-4>
        <payroll>Unknown</payroll>
        <prepaid>Unknown</prepaid>
        <product-id>Unknown</product-id>
        <subscriptions type="array"/>
        <token>kwhj9s</token>
        <unique-number-identifier>7a2b679d0aa6837a7f29f864b846c981</unique-number-identifier>
        <updated-at type="datetime">2018-08-23T05:35:00Z</updated-at>
        <venmo-sdk type="boolean">false</venmo-sdk>
        <verifications type="array">
          <verification>
            <status>verified</status>
            <cvv-response-code>I</cvv-response-code>
            <avs-error-response-code nil="true"/>
            <avs-postal-code-response-code>I</avs-postal-code-response-code>
            <avs-street-address-response-code>I</avs-street-address-response-code>
            <gateway-rejection-reason nil="true"/>
            <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
            <processor-response-code>1000</processor-response-code>
            <processor-response-text>Approved</processor-response-text>
            <amount>0.00</amount>
            <currency-iso-code>USD</currency-iso-code>
            <id>hehsq0tm</id>
            <billing>
              <first-name nil="true"/>
              <last-name nil="true"/>
              <company nil="true"/>
              <street-address nil="true"/>
              <extended-address nil="true"/>
              <locality nil="true"/>
              <region nil="true"/>
              <postal-code nil="true"/>
              <country-name nil="true"/>
            </billing>
            <credit-card>
              <token>kwhj9s</token>
              <bin>411111</bin>
              <last-4>1111</last-4>
              <card-type>Visa</card-type>
              <expiration-month>01</expiration-month>
              <expiration-year>2015</expiration-year>
              <customer-location>US</customer-location>
              <cardholder-name nil="true"/>
              <unique-number-identifier>7a2b679d0aa6837a7f29f864b846c981</unique-number-identifier>
              <prepaid>Unknown</prepaid>
              <healthcare>Unknown</healthcare>
              <debit>Unknown</debit>
              <durbin-regulated>Unknown</durbin-regulated>
              <commercial>Unknown</commercial>
              <payroll>Unknown</payroll>
              <issuing-bank>Unknown</issuing-bank>
              <country-of-issuance>Unknown</country-of-issuance>
              <product-id>Unknown</product-id>
            </credit-card>
            <created-at type="datetime">2018-08-23T05:34:59Z</created-at>
            <updated-at type="datetime">2018-08-23T05:35:00Z</updated-at>
            <risk-data>
              <id>7X8H01W24LVH</id>
              <decision>Approve</decision>
              <device-data-captured type="boolean">false</device-data-captured>
            </risk-data>
          </verification>
        </verifications>
      </credit-card>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"a8b03d01e8e45e5a0c246a2971072c27"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002499.455-107.3.151.90-2897528
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
