---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions/3qp8h5md/refund
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <api-error-response>
        <errors>
          <errors type="array"/>
          <transaction>
            <errors type="array">
              <error>
                <code>91512</code>
                <attribute type="symbol">base</attribute>
                <message>Transaction has already been completely refunded.</message>
              </error>
            </errors>
          </transaction>
        </errors>
        <params>
          <merchant-id>4ngqq224rnk6gvxh</merchant-id>
          <id>3qp8h5md</id>
          <transaction/>
        </params>
        <message>Transaction has already been completely refunded.</message>
        <transaction>
          <id>9b1v1m56</id>
          <status>settled</status>
          <type>credit</type>
          <currency-iso-code>USD</currency-iso-code>
          <amount>200.00</amount>
          <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
          <sub-merchant-account-id nil="true"/>
          <master-merchant-account-id nil="true"/>
          <order-id nil="true"/>
          <created-at type="datetime">2018-08-23T05:35:04Z</created-at>
          <updated-at type="datetime">2018-08-23T05:35:04Z</updated-at>
          <customer>
            <id nil="true"/>
            <first-name nil="true"/>
            <last-name nil="true"/>
            <company nil="true"/>
            <email nil="true"/>
            <website nil="true"/>
            <phone nil="true"/>
            <fax nil="true"/>
          </customer>
          <billing>
            <id nil="true"/>
            <first-name nil="true"/>
            <last-name nil="true"/>
            <company nil="true"/>
            <street-address nil="true"/>
            <extended-address nil="true"/>
            <locality nil="true"/>
            <region nil="true"/>
            <postal-code nil="true"/>
            <country-name nil="true"/>
            <country-code-alpha2 nil="true"/>
            <country-code-alpha3 nil="true"/>
            <country-code-numeric nil="true"/>
          </billing>
          <refund-id nil="true"/>
          <refund-ids type="array"/>
          <refunded-transaction-id>3qp8h5md</refunded-transaction-id>
          <partial-settlement-transaction-ids type="array"/>
          <authorized-transaction-id nil="true"/>
          <settlement-batch-id>2018-08-23_bvps8ckgst59crzs_d28p1a5k</settlement-batch-id>
          <shipping>
            <id nil="true"/>
            <first-name nil="true"/>
            <last-name nil="true"/>
            <company nil="true"/>
            <street-address nil="true"/>
            <extended-address nil="true"/>
            <locality nil="true"/>
            <region nil="true"/>
            <postal-code nil="true"/>
            <country-name nil="true"/>
            <country-code-alpha2 nil="true"/>
            <country-code-alpha3 nil="true"/>
            <country-code-numeric nil="true"/>
          </shipping>
          <custom-fields/>
          <avs-error-response-code nil="true"/>
          <avs-postal-code-response-code>A</avs-postal-code-response-code>
          <avs-street-address-response-code>A</avs-street-address-response-code>
          <cvv-response-code>A</cvv-response-code>
          <gateway-rejection-reason nil="true"/>
          <processor-authorization-code nil="true"/>
          <processor-response-code>1002</processor-response-code>
          <processor-response-text>Processed</processor-response-text>
          <additional-processor-response nil="true"/>
          <voice-referral-number nil="true"/>
          <purchase-order-number nil="true"/>
          <tax-amount nil="true"/>
          <tax-exempt type="boolean">false</tax-exempt>
          <credit-card>
            <token nil="true"/>
            <bin>411111</bin>
            <last-4>1111</last-4>
            <card-type>Visa</card-type>
            <expiration-month>05</expiration-month>
            <expiration-year>2014</expiration-year>
            <customer-location>US</customer-location>
            <cardholder-name nil="true"/>
            <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
            <prepaid>Unknown</prepaid>
            <healthcare>Unknown</healthcare>
            <debit>Unknown</debit>
            <durbin-regulated>Unknown</durbin-regulated>
            <commercial>Unknown</commercial>
            <payroll>Unknown</payroll>
            <issuing-bank>Unknown</issuing-bank>
            <country-of-issuance>Unknown</country-of-issuance>
            <product-id>Unknown</product-id>
            <unique-number-identifier nil="true"/>
            <venmo-sdk type="boolean">false</venmo-sdk>
          </credit-card>
          <status-history type="array">
            <status-event>
              <timestamp type="datetime">2018-08-23T05:35:04Z</timestamp>
              <status>submitted_for_settlement</status>
              <amount>200.00</amount>
              <user>Braintree-Go</user>
              <transaction-source>api</transaction-source>
            </status-event>
            <status-event>
              <timestamp type="datetime">2018-08-23T05:35:04Z</timestamp>
              <status>settled</status>
              <amount>200.00</amount>
              <user nil="true"/>
              <transaction-source></transaction-source>
            </status-event>
          </status-history>
          <plan-id nil="true"/>
          <subscription-id nil="true"/>
          <subscription>
            <billing-period-end-date nil="true"/>
            <billing-period-start-date nil="true"/>
          </subscription>
          <add-ons type="array"/>
          <discounts type="array"/>
          <descriptor>
            <name nil="true"/>
            <phone nil="true"/>
            <url nil="true"/>
          </descriptor>
          <recurring nil="true"/>
          <channel nil="true"/>
          <service-fee-amount nil="true"/>
          <escrow-status nil="true"/>
          <disbursement-details>
            <disbursement-date nil="true"/>
            <settlement-amount nil="true"/>
            <settlement-currency-iso-code nil="true"/>
            <settlement-currency-exchange-rate nil="true"/>
            <funds-held nil="true"/>
            <success nil="true"/>
          </disbursement-details>
          <disputes type="array"/>
          <authorization-adjustments type="array"/>
          <payment-instrument-type>credit_card</payment-instrument-type>
          <processor-settlement-response-code></processor-settlement-response-code>
          <processor-settlement-response-text></processor-settlement-response-text>
          <three-d-secure-info nil="true"/>
          <ships-from-postal-code nil="true"/>
          <shipping-amount nil="true"/>
          <discount-amount nil="true"/>
          <network-transaction-id nil="true"/>
        </transaction>
      </api-error-response>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002505.591-107.3.151.90-2897887
      X-User:
      - kkf6b66dz8xy83p6
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
