---
version: 1
interactions:
- request:
    body: |-
      <transaction>
        <type>sale</type>
        <amount>71.01</amount>
        <order-id>my_custom_order</order-id>
        <credit-card>
          <number>4111111111111111</number>
          <expiration-date>05/14</expiration-date>
          <cvv>100</cvv>
        </credit-card>
        <customer>
          <first-name>Lionel</first-name>
        </customer>
        <billing>
          <street-address>1 E Main St</street-address>
          <locality>Chicago</locality>
          <region>IL</region>
          <postal-code>60637</postal-code>
        </billing>
        <shipping>
          <street-address>1 E Main St</street-address>
          <locality>Chicago</locality>
          <region>IL</region>
          <postal-code>60637</postal-code>
        </shipping>
        <tax-amount>7.10</tax-amount>
        <device-data>{&#34;device_session_id&#34;: &#34;dsi_1234&#34;, &#34;fraud_merchant_id&#34;: &#34;fmi_1234&#34;, &#34;correlation_id&#34;: &#34;ci_1234&#34;}</device-data>
        <options>
          <submit-for-settlement>true</submit-for-settlement>
          <store-in-vault>true</store-in-vault>
          <store-in-vault-on-success>true</store-in-vault-on-success>
          <add-billing-address-to-payment-method>true</add-billing-address-to-payment-method>
          <store-shipping-address-in-vault>true</store-shipping-address-in-vault>
        </options>
        <channel>ChannelA</channel>
        <purchase-order-number>PONUMBER</purchase-order-number>
        <transaction-source>moto</transaction-source>
      </transaction>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <transaction>
        <id>hb97s4aw</id>
        <status>submitted_for_settlement</status>
        <type>sale</type>
        <currency-iso-code>USD</currency-iso-code>
        <amount>71.01</amount>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <sub-merchant-account-id nil="true"/>
        <master-merchant-account-id nil="true"/>
        <order-id>my_custom_order</order-id>
        <created-at type="datetime">2018-08-23T05:35:02Z</created-at>
        <updated-at type="datetime">2018-08-23T05:35:03Z</updated-at>
        <customer>
          <id>228518883</id>
          <first-name>Lionel</first-name>
          <last-name nil="true"/>
          <company nil="true"/>
          <email nil="true"/>
          <website nil="true"/>
          <phone nil="true"/>
          <fax nil="true"/>
        </customer>
        <billing>
          <id>g7</id>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address>1 E Main St</street-address>
          <extended-address nil="true"/>
          <locality>Chicago</locality>
          <region>IL</region>
          <postal-code>60637</postal-code>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </billing>
        <refund-id nil="true"/>
        <refund-ids type="array"/>
        <refunded-transaction-id nil="true"/>
        <partial-settlement-transaction-ids type="array"/>
        <authorized-transaction-id nil="true"/>
        <settlement-batch-id nil="true"/>
        <shipping>
          <id nil="true"/>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address>1 E Main St</street-address>
          <extended-address nil="true"/>
          <locality>Chicago</locality>
          <region>IL</region>
          <postal-code>60637</postal-code>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </shipping>
        <custom-fields/>
        <avs-error-response-code nil="true"/>
        <avs-postal-code-response-code>M</avs-postal-code-response-code>
        <avs-street-address-response-code>M</avs-street-address-response-code>
        <cvv-response-code>M</cvv-response-code>
        <gateway-rejection-reason nil="true"/>
        <processor-authorization-code>S0FPK7</processor-authorization-code>
        <processor-response-code>1000</processor-response-code>
        <processor-response-text>Approved</processor-response-text>
        <additional-processor-response nil="true"/>
        <voice-referral-number nil="true"/>
        <purchase-order-number>PONUMBER</purchase-order-number>
        <tax-amount>7.10</tax-amount>
        <tax-exempt type="boolean">false</tax-exempt>
        <credit-card>
          <token>cfp8jn</token>
          <bin>411111</bin>
          <last-4>1111</last-4>
          <card-type>Visa</card-type>
          <expiration-month>05</expiration-month>
          <expiration-year>2014</expiration-year>
          <customer-location>US</customer-location>
          <cardholder-name nil="true"/>
          <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
          <prepaid>Unknown</prepaid>
          <healthcare>Unknown</healthcare>
          <debit>Unknown</debit>
          <durbin-regulated>Unknown</durbin-regulated>
          <commercial>Unknown</commercial>
          <payroll>Unknown</payroll>
          <issuing-bank>Unknown</issuing-bank>
          <country-of-issuance>Unknown</country-of-issuance>
          <product-id>Unknown</product-id>
          <unique-number-identifier>7a2b679d0aa6837a7f29f864b846c981</unique-number-identifier>
          <venmo-sdk type="boolean">false</venmo-sdk>
        </credit-card>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:35:03Z</timestamp>
            <status>authorized</status>
            <amount>71.01</amount>
            <user>Braintree-Go</user>
            <transaction-source>api</transaction-source>
          </status-event>
          <status-event>
            <timestamp type="datetime">2018-08-23T05:35:03Z</timestamp>
            <status>submitted_for_settlement</status>
            <amount>71.01</amount>
            <user>Braintree-Go</user>
            <transaction-source>api</transaction-source>
          </status-event>
        </status-history>
        <plan-id nil="true"/>
        <subscription-id nil="true"/>
        <subscription>
          <billing-period-end-date nil="true"/>
          <billing-period-start-date nil="true"/>
        </subscription>
        <add-ons type="array"/>
        <discounts type="array"/>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <recurring type="boolean">false</recurring>
        <channel>ChannelA</channel>
        <service-fee-amount nil="true"/>
        <escrow-status nil="true"/>
        <disbursement-details>
          <disbursement-date nil="true"/>
          <settlement-amount nil="true"/>
          <settlement-currency-iso-code nil="true"/>
          <settlement-currency-exchange-rate nil="true"/>
          <funds-held nil="true"/>
          <success nil="true"/>
        </disbursement-details>
        <disputes type="array"/>
        <authorization-adjustments type="array"/>
        <payment-instrument-type>credit_card</payment-instrument-type>
        <processor-settlement-response-code></processor-settlement-response-code>
        <processor-settlement-response-text></processor-settlement-response-text>
        <risk-data>
          <id>7X8H0V1MBQ75</id>
          <decision>Approve</decision>
          <device-data-captured type="boolean">false</device-data-captured>
        </risk-data>
        <three-d-secure-info nil="true"/>
        <ships-from-postal-code nil="true"/>
        <shipping-amount nil="true"/>
        <discount-amount nil="true"/>
        <network-transaction-id>020180823053503</network-transaction-id>
      </transaction>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"569a7314f5269af824fe8660ede42ac1"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002502.567-107.3.151.90-2897678
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
