---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "4"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh//payment_method_nonces/ad96af4a-2407-0c84-5790-5eb7277d6f14
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <payment-method-nonce>
        <type>CreditCard</type>
        <nonce>ad96af4a-2407-0c84-5790-5eb7277d6f14</nonce>
        <description>ending in 81</description>
        <is-locked type="boolean">false</is-locked>
        <security-questions type="array">
          <item>cvv</item>
        </security-questions>
        <details>
          <card-type>Visa</card-type>
          <last-two>81</last-two>
          <last-four>1881</last-four>
        </details>
        <three-d-secure-info nil="true"/>
        <consumed type="boolean">false</consumed>
        <default type="boolean">true</default>
        <has-subscription type="boolean">false</has-subscription>
        <bin-data>
          <prepaid>No</prepaid>
          <healthcare>Unknown</healthcare>
          <debit>Unknown</debit>
          <durbin-regulated>Unknown</durbin-regulated>
          <commercial>Unknown</commercial>
          <payroll>Unknown</payroll>
          <issuing-bank>Unknown</issuing-bank>
          <country-of-issuance>Unknown</country-of-issuance>
          <product-id>Unknown</product-id>
        </bin-data>
      </payment-method-nonce>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"229864190eb03eea7853d3d7ce7c5117"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002493.601-107.3.151.90-2897325
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <subscription>
        <paymentMethodToken>6xfht3</paymentMethodToken>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array"/>
        <balance>0.00</balance>
        <billing-day-of-month type="integer">31</billing-day-of-month>
        <billing-period-end-date nil="true"/>
        <billing-period-start-date nil="true"/>
        <created-at type="datetime">2018-08-23T05:34:56Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:56Z</updated-at>
        <current-billing-cycle type="integer">0</current-billing-cycle>
        <days-past-due nil="true"/>
        <discounts type="array"/>
        <failure-count type="integer">0</failure-count>
        <first-billing-date type="date">2018-08-31</first-billing-date>
        <id>5c6zkr</id>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <never-expires type="boolean">true</never-expires>
        <next-bill-amount>20.00</next-bill-amount>
        <next-billing-period-amount>20.00</next-billing-period-amount>
        <next-billing-date type="date">2018-08-31</next-billing-date>
        <number-of-billing-cycles nil="true"/>
        <paid-through-date nil="true"/>
        <payment-method-token>6xfht3</payment-method-token>
        <plan-id>test_plan_2</plan-id>
        <price>20.00</price>
        <status>Pending</status>
        <trial-duration nil="true"/>
        <trial-duration-unit nil="true"/>
        <trial-period type="boolean">false</trial-period>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <description nil="true"/>
        <transactions type="array"/>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:34:56Z</timestamp>
            <status>Pending</status>
            <user>Braintree-Go</user>
            <subscription-source>api</subscription-source>
            <balance>0.00</balance>
            <price>20.00</price>
            <currency-iso-code>USD</currency-iso-code>
            <plan-id>test_plan_2</plan-id>
          </status-event>
        </status-history>
      </subscription>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"542c75c82a2b875210de952acf0dd986"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002493.634-107.3.151.90-6933098
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
