---
version: 1
interactions:
- request:
    body: |-
      <transaction>
        <amount>46.17</amount>
      </transaction>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions/ghn9ps3x/submit_for_settlement
    method: PUT
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <transaction>
        <id>ghn9ps3x</id>
        <status>submitted_for_settlement</status>
        <type>sale</type>
        <currency-iso-code>USD</currency-iso-code>
        <amount>46.17</amount>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <sub-merchant-account-id nil="true"/>
        <master-merchant-account-id nil="true"/>
        <order-id nil="true"/>
        <created-at type="datetime">2018-08-23T05:35:02Z</created-at>
        <updated-at type="datetime">2018-08-23T05:35:03Z</updated-at>
        <customer>
          <id nil="true"/>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <email nil="true"/>
          <website nil="true"/>
          <phone nil="true"/>
          <fax nil="true"/>
        </customer>
        <billing>
          <id nil="true"/>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address nil="true"/>
          <extended-address nil="true"/>
          <locality nil="true"/>
          <region nil="true"/>
          <postal-code nil="true"/>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </billing>
        <refund-id nil="true"/>
        <refund-ids type="array"/>
        <refunded-transaction-id nil="true"/>
        <partial-settlement-transaction-ids type="array"/>
        <authorized-transaction-id nil="true"/>
        <settlement-batch-id nil="true"/>
        <shipping>
          <id nil="true"/>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address nil="true"/>
          <extended-address nil="true"/>
          <locality nil="true"/>
          <region nil="true"/>
          <postal-code nil="true"/>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </shipping>
        <custom-fields/>
        <avs-error-response-code nil="true"/>
        <avs-postal-code-response-code>I</avs-postal-code-response-code>
        <avs-street-address-response-code>I</avs-street-address-response-code>
        <cvv-response-code>I</cvv-response-code>
        <gateway-rejection-reason nil="true"/>
        <processor-authorization-code>V8T0MQ</processor-authorization-code>
        <processor-response-code>1000</processor-response-code>
        <processor-response-text>Approved</processor-response-text>
        <additional-processor-response nil="true"/>
        <voice-referral-number nil="true"/>
        <purchase-order-number nil="true"/>
        <tax-amount nil="true"/>
        <tax-exempt type="boolean">false</tax-exempt>
        <credit-card>
          <token nil="true"/>
          <bin nil="true"/>
          <last-4 nil="true"/>
          <card-type nil="true"/>
          <expiration-month></expiration-month>
          <expiration-year></expiration-year>
          <customer-location nil="true"/>
          <cardholder-name nil="true"/>
          <image-url>https://assets.braintreegateway.com/payment_method_logo/unknown.png?environment=sandbox</image-url>
          <prepaid>Unknown</prepaid>
          <healthcare>Unknown</healthcare>
          <debit>Unknown</debit>
          <durbin-regulated>Unknown</durbin-regulated>
          <commercial>Unknown</commercial>
          <payroll>Unknown</payroll>
          <issuing-bank>Unknown</issuing-bank>
          <country-of-issuance>Unknown</country-of-issuance>
          <product-id>Unknown</product-id>
          <unique-number-identifier nil="true"/>
          <venmo-sdk type="boolean">false</venmo-sdk>
        </credit-card>
        <apple-pay>
          <token nil="true"/>
          <card-type>Apple Pay - MasterCard</card-type>
          <last-4>4444</last-4>
          <expiration-month>12</expiration-month>
          <expiration-year>2020</expiration-year>
          <cardholder-name>MasterCard Apple Pay Cardholder</cardholder-name>
          <image-url>https://assets.braintreegateway.com/payment_method_logo/apple_pay.png?environment=sandbox</image-url>
          <payment-instrument-name>MasterCard 0017</payment-instrument-name>
          <source-description>MasterCard 0017</source-description>
        </apple-pay>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:35:02Z</timestamp>
            <status>authorized</status>
            <amount>46.17</amount>
            <user>Braintree-Go</user>
            <transaction-source>api</transaction-source>
          </status-event>
          <status-event>
            <timestamp type="datetime">2018-08-23T05:35:03Z</timestamp>
            <status>submitted_for_settlement</status>
            <amount>46.17</amount>
            <user>Braintree-Go</user>
            <transaction-source>api</transaction-source>
          </status-event>
        </status-history>
        <plan-id nil="true"/>
        <subscription-id nil="true"/>
        <subscription>
          <billing-period-end-date nil="true"/>
          <billing-period-start-date nil="true"/>
        </subscription>
        <add-ons type="array"/>
        <discounts type="array"/>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <recurring type="boolean">false</recurring>
        <channel nil="true"/>
        <service-fee-amount nil="true"/>
        <escrow-status nil="true"/>
        <disbursement-details>
          <disbursement-date nil="true"/>
          <settlement-amount nil="true"/>
          <settlement-currency-iso-code nil="true"/>
          <settlement-currency-exchange-rate nil="true"/>
          <funds-held nil="true"/>
          <success nil="true"/>
        </disbursement-details>
        <disputes type="array"/>
        <authorization-adjustments type="array"/>
        <payment-instrument-type>apple_pay_card</payment-instrument-type>
        <processor-settlement-response-code></processor-settlement-response-code>
        <processor-settlement-response-text></processor-settlement-response-text>
        <three-d-secure-info nil="true"/>
        <ships-from-postal-code nil="true"/>
        <shipping-amount nil="true"/>
        <discount-amount nil="true"/>
        <network-transaction-id nil="true"/>
      </transaction>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"95942220e75ac2d63619eb136b743102"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002502.872-107.3.151.90-6934023
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
