---
version: 1
interactions:
- request:
    body: |-
      <transaction>
        <type>sale</type>
        <amount>14.23</amount>
        <payment-method-nonce>fake-valid-nonce</payment-method-nonce>
        <line-items type="array">
          <item>
            <name>Name #1</name>
            <description>Description #1</description>
            <kind>debit</kind>
            <quantity>1.0232</quantity>
            <unit-amount>45.1232</unit-amount>
            <unit-tax-amount>1.23</unit-tax-amount>
            <total-amount>45.15</total-amount>
            <tax-amount>4.55</tax-amount>
            <discount-amount>1.02</discount-amount>
            <unit-of-measure>gallon</unit-of-measure>
            <product-code>23434</product-code>
            <commodity-code>9SAASSD8724</commodity-code>
            <url>https://example.com/products/23434</url>
          </item>
          <item>
            <name>Name #2</name>
            <description>Description #2</description>
            <kind>debit</kind>
            <unit-amount>45.1232</unit-amount>
            <unit-tax-amount>1.23</unit-tax-amount>
            <total-amount>45.15</total-amount>
            <tax-amount>4.55</tax-amount>
            <discount-amount>1.02</discount-amount>
            <unit-of-measure>gallon</unit-of-measure>
            <product-code>23434</product-code>
            <commodity-code>9SAASSD8724</commodity-code>
            <url>https://example.com/products/23434</url>
          </item>
        </line-items>
      </transaction>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <api-error-response>
        <errors>
          <errors type="array"/>
          <transaction>
            <errors type="array"/>
            <billing>
              <errors type="array"/>
            </billing>
            <credit-card>
              <errors type="array"/>
              <billing-address>
                <errors type="array"/>
              </billing-address>
            </credit-card>
            <line-items>
              <errors type="array"/>
              <index-1>
                <errors type="array">
                  <error>
                    <code>95811</code>
                    <attribute type="symbol">quantity</attribute>
                    <message>Quantity is required.</message>
                  </error>
                </errors>
              </index-1>
            </line-items>
          </transaction>
        </errors>
        <params>
          <transaction>
            <type>sale</type>
            <amount>14.23</amount>
            <payment-method-nonce>fake-valid-nonce</payment-method-nonce>
            <line-items type="array">
              <line-item>
                <name>Name #1</name>
                <description>Description #1</description>
                <kind>debit</kind>
                <quantity>1.0232</quantity>
                <unit-amount>45.1232</unit-amount>
                <unit-tax-amount>1.23</unit-tax-amount>
                <total-amount>45.15</total-amount>
                <tax-amount>4.55</tax-amount>
                <discount-amount>1.02</discount-amount>
                <unit-of-measure>gallon</unit-of-measure>
       [...]
- request:
    body: |-
      <transaction>
        <type>sale</type>
        <amount>39.56</amount>
        <credit-card>
          <number>4111111111111111</number>
          <expiration-date>05/14</expiration-date>
        </credit-card>
        <customer>
          <first-name>PaginationTest-33373508184741341168960496781513295026</first-name>
        </customer>
      </transaction>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <transaction>
        <id>kr5205zs</id>
        <status>authorized</status>
        <type>sale</type>
        <currency-iso-code>USD</currency-iso-code>
        <amount>39.56</amount>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <sub-merchant-account-id nil="true"/>
        <master-merchant-account-id nil="true"/>
        <order-id nil="true"/>
        <created-at type="datetime">2018-08-23T05:35:07Z</created-at>
        <updated-at type="datetime">2018-08-23T05:35:07Z</updated-at>
        <customer>
          <id nil="true"/>
          <first-name>PaginationTest-33373508184741341168960496781513295026</first-name>
          <last-name nil="true"/>
          <company nil="true"/>
          <email nil="true"/>
          <website nil="true"/>
          <phone nil="true"/>
          <fax nil="true"/>
        </customer>
        <billing>
          <id nil="true"/>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address nil="true"/>
          <extended-address nil="true"/>
          <locality nil="true"/>
          <region nil="true"/>
          <postal-code nil="true"/>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </billing>
        <refund-id nil="true"/>
        <refund-ids type="array"/>
        <refunded-transaction-id nil="true"/>
        <partial-settlement-transaction-ids type="array"/>
        <authorized-transaction-id nil="true"/>
        <settlement-batch-id nil="true"/>
        <shipping>
          <id nil="true"/>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address nil="true"/>
          <extended-address nil="true"/>
          <locality nil="true"/>
          <region nil="true"/>
          <postal-code nil="true"/>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </shipping>
        <custom-fields/>
        <avs-error-response-code nil="true"/>
        <avs-postal-code-response-code>I</avs-postal-code-response-code>
        <avs-street-address-response-code>I</avs-street-address-response-code>
        <cvv-response-code>I</cvv-response-code>
        <gateway-rejection-reason nil="true"/>
        <processor-authorization-code>6ZDWJ5</processor-authorization-code>
        <processor-response-code>1000</processor-response-code>
        <processor-response-text>Approved</processor-response-text>
        <additional-processor-response nil="true"/>
        <voice-referral-number nil="true"/>
        <purchase-order-number nil="true"/>
        <tax-amount nil="true"/>
        <tax-exempt type="boolean">false</tax-exempt>
        <credit-card>
          <token nil="true"/>
          <bin>411111</bin>
          <last-4>1111</last-4>
          <card-type>Visa</card-type>
          <expiration-month>05</expiration-month>
          <expiration-year>2014</expiration-year>
          <customer-location>US</customer-location>
          <cardholder-name nil="true"/>
          <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
          <prepaid>Unknown</prepaid>
          <healthcare>Unknown</healthcare>
          <debit>Unknown</debit>
          <durbin-regulated>Unknown</durbin-regulated>
          <commercial>Unknown</commercial>
          <payroll>Unknown</payroll>
          <issuing-bank>Unknown</issuing-bank>
          <country-of-issuance>Unknown</country-of-issuance>
          <product-id>Unknown</product-id>
          <unique-number-identifier nil="true"/>
          <venmo-sdk type="boolean">false</venmo-sdk>
        </credit-card>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:35:07Z</timestamp>
            <status>authorized</status>
            <amount>39.56</amount>
            <user>Braintree-Go</user>
            <transaction-source>api</transaction-source>
          </status-event>
        </status-history>
        <plan-id nil="true"/>
        <subscription-id nil="true"/>
        <subscription>
          <billing-period-end-date nil="true"/>
          <billing-period-start-date nil="true"/>
        </subscription>
        <add-ons type="array"/>
        <discounts type="array"/>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <recurring type="boolean">false</recurring>
        <channel nil="true"/>
        <service-fee-amount nil="true"/>
        <escrow-status nil="true"/>
        <disbursement-details>
          <disbursement-date nil="true"/>
          <settlement-amount nil="true"/>
          <settlement-currency-iso-code nil="true"/>
          <settlement-currency-exchange-rate nil="true"/>
          <funds-held nil="true"/>
          <success nil="true"/>
        </disbursement-details>
        <disputes type="array"/>
        <authorization-adjustments type="array"/>
        <payment-instrument-type>credit_card</payment-instrument-type>
        <processor-settlement-response-code></processor-settlement-response-code>
        <processor-settlement-response-text></processor-settlement-response-text>
        <risk-data>
          <id>7X8H04TMG7R0</id>
          <decision>Approve</decision>
          <device-data-captured type="boolean">false</device-data-captured>
        </risk-data>
        <three-d-secure-info nil="true"/>
        <ships-from-postal-code nil="true"/>
        <shipping-amount nil="true"/>
        <discount-amount nil="true"/>
        <network-transaction-id>020180823053507</network-transaction-id>
      </transaction>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"82e3f3c53e7a2d51ec82b159bcbbf3ee"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002506.926-107.3.151.90-6934550
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
