---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/customers/102639271
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <customer>
        <id>102639271</id>
        <merchant-id>4ngqq224rnk6gvxh</merchant-id>
        <first-name nil="true"/>
        <last-name nil="true"/>
        <company nil="true"/>
        <email nil="true"/>
        <phone nil="true"/>
        <fax nil="true"/>
        <website nil="true"/>
        <created-at type="datetime">2018-08-23T05:34:57Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:58Z</updated-at>
        <custom-fields/>
        <credit-cards type="array">
          <credit-card>
            <billing-address>
              <id>r3</id>
              <customer-id>102639271</customer-id>
              <first-name nil="true"/>
              <last-name nil="true"/>
              <company nil="true"/>
              <street-address nil="true"/>
              <extended-address nil="true"/>
              <locality nil="true"/>
              <region nil="true"/>
              <postal-code>94107</postal-code>
              <country-code-alpha2 nil="true"/>
              <country-code-alpha3 nil="true"/>
              <country-code-numeric nil="true"/>
              <country-name nil="true"/>
              <created-at type="datetime">2018-08-23T05:34:57Z</created-at>
              <updated-at type="datetime">2018-08-23T05:34:57Z</updated-at>
            </billing-address>
            <bin>401288</bin>
            <card-type>Visa</card-type>
            <cardholder-name nil="true"/>
            <commercial>Unknown</commercial>
            <country-of-issuance>Unknown</country-of-issuance>
            <created-at type="datetime">2018-08-23T05:34:57Z</created-at>
            <customer-id>102639271</customer-id>
            <customer-location>US</customer-location>
            <debit>Unknown</debit>
            <default type="boolean">true</default>
            <durbin-regulated>Unknown</durbin-regulated>
            <expiration-month>12</expiration-month>
            <expiration-year>2019</expiration-year>
            <expired type="boolean">false</expired>
            <healthcare>Unknown</healthcare>
            <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
            <issuing-bank>Unknown</issuing-bank>
            <last-4>1881</last-4>
            <payroll>Unknown</payroll>
            <prepaid>No</prepaid>
            <product-id>Unknown</product-id>
            <subscriptions type="array"/>
            <token>kdvdjn</token>
            <unique-number-identifier>7548503e80b587eb6a3be7487aed7c94</unique-number-identifier>
            <updated-at type="datetime">2018-08-23T05:34:57Z</updated-at>
            <venmo-sdk type="boolean">false</venmo-sdk>
            <verifications type="array">
              <verification>
                <status>verified</status>
                <cvv-response-code>M</cvv-response-code>
                <avs-error-response-code nil="true"/>
                <avs-postal-code-response-code>M</avs-postal-code-response-code>
                <avs-street-address-response-code>I</avs-street-address-response-code>
                <gateway-rejection-reason nil="true"/>
                <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
                <processor-response-code>1000</processor-response-code>
                <processor-response-text>Approved</processor-response-text>
                <amount>0.00</amount>
                <currency-iso-code>USD</currency-iso-code>
                <id>9qejwjbn</id>
                <billing>
                  <first-name nil="true"/>
                  <last-name nil="true"/>
                  <company nil="true"/>
                  <street-address nil="true"/>
                  <extended-address nil="true"/>
                  <locality nil="true"/>
                  <region nil="true"/>
                  <postal-code>94107</postal-code>
                  <country-name nil="true"/>
                </billing>
                <credit-card>
                  <token>kdvdjn</token>
     [...]
- request:
    body: |-
      <customer>
        <first-name>John</first-name>
        <last-name>Smith</last-name>
        <company>PaginationTest-4618386593492938919807028468685738035</company>
      </customer>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/customers
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <customer>
        <id>138086864</id>
        <merchant-id>4ngqq224rnk6gvxh</merchant-id>
        <first-name>John</first-name>
        <last-name>Smith</last-name>
        <company>PaginationTest-4618386593492938919807028468685738035</company>
        <email nil="true"/>
        <phone nil="true"/>
        <fax nil="true"/>
        <website nil="true"/>
        <created-at type="datetime">2018-08-23T05:34:58Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:58Z</updated-at>
        <custom-fields/>
        <credit-cards type="array"/>
        <addresses type="array"/>
      </customer>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"ddc2081b6cb9d47cc7922ba8c7033105"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002498.459-107.3.151.90-6933547
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
