---
version: 1
interactions:
- request:
    body: |-
      <subscription>
        <billing-day-of-month>15</billing-day-of-month>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <never-expires>true</never-expires>
        <paymentMethodToken>frhdd3</paymentMethodToken>
        <planId>test_plan</planId>
        <price>1.00</price>
        <descriptor>
          <name>Company Name*Product 1</name>
          <phone>0000000000</phone>
          <url>example.com</url>
        </descriptor>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array">
          <add-on>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">0</current-billing-cycle>
            <id>test_add_on</id>
            <name>test_add_on_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </add-on>
        </add-ons>
        <balance>0.00</balance>
        <billing-day-of-month type="integer">15</billing-day-of-month>
        <billing-period-end-date nil="true"/>
        <billing-period-start-date nil="true"/>
        <created-at type="datetime">2018-08-23T05:34:52Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:52Z</updated-at>
        <current-billing-cycle type="integer">0</current-billing-cycle>
        <days-past-due nil="true"/>
        <discounts type="array">
          <discount>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">0</current-billing-cycle>
            <id>test_discount</id>
            <name>test_discount_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </discount>
        </discounts>
        <failure-count type="integer">0</failure-count>
        <first-billing-date type="date">2018-09-15</first-billing-date>
        <id>4cwr3g</id>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <never-expires type="boolean">true</never-expires>
        <next-bill-amount>1.00</next-bill-amount>
        <next-billing-period-amount>1.00</next-billing-period-amount>
        <next-billing-date type="date">2018-09-15</next-billing-date>
        <number-of-billing-cycles nil="true"/>
        <paid-through-date nil="true"/>
        <payment-method-token>frhdd3</payment-method-token>
        <plan-id>test_plan</plan-id>
        <price>1.00</price>
        <status>Pending</status>
        <trial-duration nil="true"/>
        <trial-duration-unit nil="true"/>
        <trial-period type="boolean">false</trial-period>
        <descriptor>
          <name>Company Name*Product 1</name>
          <phone>0000000000</phone>
          <url>example.com</url>
        </descriptor>
        <description nil="true"/>
        <transactions type="array"/>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:34:52Z</timestamp>
            <status>Pending</status>
            <user>Braintree-Go</user>
            <subscription-source>api</subscription-source>
            <balance>0.00</balance>
            <price>1.00</price>
            <currency-iso-code>USD</currency-iso-code>
            <plan-id>test_plan</plan-id>
          </status-event>
        </status-history>
      </subscription>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"1f8338bbf1607c496e86ebf99a062dbb"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002487.976-107.3.151.90-6932568
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
