---
version: 1
interactions:
- request:
    body: |-
      <transaction>
        <type>sale</type>
        <amount>82.10</amount>
        <merchant-account-id>avs-and-cvs</merchant-account-id>
        <credit-card>
          <number>4111111111111111</number>
          <expiration-date>05/14</expiration-date>
          <cvv>100</cvv>
        </credit-card>
        <billing>
          <street-address>1 E Main St</street-address>
          <locality>Chicago</locality>
          <region>IL</region>
          <postal-code>20000</postal-code>
        </billing>
      </transaction>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <api-error-response>
        <errors>
          <errors type="array"/>
        </errors>
        <params>
          <transaction>
            <type>sale</type>
            <amount>82.10</amount>
            <merchant-account-id>avs-and-cvs</merchant-account-id>
            <credit-card>
              <expiration-date>05/14</expiration-date>
            </credit-card>
            <billing>
              <street-address>1 E Main St</street-address>
              <locality>Chicago</locality>
              <region>IL</region>
              <postal-code>20000</postal-code>
            </billing>
          </transaction>
        </params>
        <message>Gateway Rejected: avs</message>
        <transaction>
          <id>q1xc7fbd</id>
          <status>gateway_rejected</status>
          <type>sale</type>
          <currency-iso-code>USD</currency-iso-code>
          <amount>82.10</amount>
          <merchant-account-id>avs-and-cvs</merchant-account-id>
          <sub-merchant-account-id nil="true"/>
          <master-merchant-account-id nil="true"/>
          <order-id nil="true"/>
          <created-at type="datetime">2018-08-23T05:35:04Z</created-at>
          <updated-at type="datetime">2018-08-23T05:35:05Z</updated-at>
          <customer>
            <id nil="true"/>
            <first-name nil="true"/>
            <last-name nil="true"/>
            <company nil="true"/>
            <email nil="true"/>
            <website nil="true"/>
            <phone nil="true"/>
            <fax nil="true"/>
          </customer>
          <billing>
            <id nil="true"/>
            <first-name nil="true"/>
            <last-name nil="true"/>
            <company nil="true"/>
            <street-address>1 E Main St</street-address>
            <extended-address nil="true"/>
            <locality>Chicago</locality>
            <region>IL</region>
            <postal-code>20000</postal-code>
            <country-name nil="true"/>
            <country-code-alpha2 nil="true"/>
            <country-code-alpha3 nil="true"/>
            <country-code-numeric nil="true"/>
          </billing>
          <refund-id nil="true"/>
          <refund-ids type="array"/>
          <refunded-transaction-id nil="true"/>
          <partial-settlement-transaction-ids type="array"/>
          <authorized-transaction-id nil="true"/>
          <settlement-batch-id nil="true"/>
          <shipping>
            <id nil="true"/>
            <first-name nil="true"/>
            <last-name nil="true"/>
            <company nil="true"/>
            <street-address nil="true"/>
            <extended-address nil="true"/>
            <locality nil="true"/>
            <region nil="true"/>
            <postal-code nil="true"/>
            <country-name nil="true"/>
            <country-code-alpha2 nil="true"/>
            <country-code-alpha3 nil="true"/>
            <country-code-numeric nil="true"/>
          </shipping>
          <custom-fields/>
          <avs-error-response-code nil="true"/>
          <avs-postal-code-response-code>N</avs-postal-code-response-code>
          <avs-street-address-response-code>M</avs-street-address-response-code>
          <cvv-response-code>M</cvv-response-code>
          <gateway-rejection-reason>avs</gateway-rejection-reason>
          <processor-authorization-code>BK687J</processor-authorization-code>
          <processor-response-code>1000</processor-response-code>
          <processor-response-text>Approved</processor-response-text>
          <additional-processor-response nil="true"/>
          <voice-referral-number nil="true"/>
          <purchase-order-number nil="true"/>
          <tax-amount nil="true"/>
          <tax-exempt type="boolean">false</tax-exempt>
          <credit-card>
            <token nil="true"/>
            <bin>411111</bin>
            <last-4>1111</last-4>
            <card-type>Visa</card-type>
            <expiration-month>05</expiration-month>
            <expiration-year>2014</expiration-year>
            <customer-location>US</customer-location>
            <cardholder-name nil="true"/>
            <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
            <prepaid>Unknown</prepaid>
            <healthcare>Unknown</healthcare>
            <debit>Unknown</debit>
            <durbin-regulated>Unknown</durbin-regulated>
            <commercial>Unknown</commercial>
            <payroll>Unknown</payroll>
            <issuing-bank>Unknown</issuing-bank>
            <country-of-issuance>Unknown</country-of-issuance>
            <product-id>Unknown</product-id>
            <unique-number-identifier nil="true"/>
            <venmo-sdk type="boolean">false</venmo-sdk>
          </credit-card>
          <status-history type="array">
            <status-event>
              <timestamp type="datetime">2018-08-23T05:35:04Z</timestamp>
              <status>gateway_rejected</status>
              <amount>82.10</amount>
              <user>Braintree-Go</user>
              <transaction-source>api</transaction-source>
            </status-event>
          </status-history>
          <plan-id nil="true"/>
          <subscription-id nil="true"/>
          <subscription>
            <billing-period-end-date nil="true"/>
            <billing-period-start-date nil="true"/>
          </subscription>
          <add-ons type="array"/>
          <discounts type="array"/>
          <descriptor>
            <name nil="true"/>
            <phone nil="true"/>
            <url nil="true"/>
          </descriptor>
          <recurring type="boolean">false</recurring>
          <channel nil="true"/>
          <service-fee-amount nil="true"/>
          <escrow-status nil="true"/>
          <disbursement-details>
            <disbursement-date nil="true"/>
            <settlement-amount nil="true"/>
            <settlement-currency-iso-code nil="true"/>
            <settlement-currency-exchange-rate nil="true"/>
            <funds-held nil="true"/>
            <success nil="true"/>
          </disbursement-details>
          <disputes type="array"/>
          <authorization-adjustments type="array"/>
          <payment-instrument-type>credit_card</payment-instrument-type>
          <processor-settlement-response-code></processor-settlement-response-code>
          <processor-settlement-response-text></processor-settlement-response-text>
          <risk-data>
            <id>7X8H06LDW9HK</id>
            <decision>Approve</decision>
            <device-data-captured type="boolean">false</device-data-captured>
          </risk-data>
          <three-d-secure-info nil="true"/>
          <ships-from-postal-code nil="true"/>
          <shipping-amount nil="true"/>
          <discount-amount nil="true"/>
          <network-transaction-id>020180823053504</network-transaction-id>
        </transaction>
      </api-error-response>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002504.224-107.3.151.90-6934221
      X-User:
      - kkf6b66dz8xy83p6
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
