---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions/hvkd9qzh/line_items
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <line-items type="array">
      <line-item>
        <quantity>1.0232</quantity>
        <name>Name #1</name>
        <description nil="true"/>
        <kind>debit</kind>
        <unit-amount>45.1232</unit-amount>
        <unit-tax-amount>0.00</unit-tax-amount>
        <discount-amount>0.00</discount-amount>
        <total-amount>45.15</total-amount>
        <unit-of-measure nil="true"/>
        <product-code nil="true"/>
        <commodity-code nil="true"/>
        <url nil="true"/>
        <tax-amount>0.00</tax-amount>
      </line-item>
      </line-items>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"d24e6108b8bc7d87d2bd1c6362c97cbb"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002508.418-107.3.151.90-6934711
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <search>
        <company>
          <starts-with>PaginationTest-4618386593492938919</starts-with>
        </company>
        <ids type="array">
          <item>891111536</item>
        </ids>
      </search>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/customers/advanced_search
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <customers type="collection">
        <current-page-number type="integer">1</current-page-number>
        <page-size type="integer">50</page-size>
        <total-items type="integer">1</total-items>
      <customer>
        <id>891111536</id>
        <merchant-id>4ngqq224rnk6gvxh</merchant-id>
        <first-name>John</first-name>
        <last-name>Smith</last-name>
        <company>PaginationTest-46183865934929389197880009987384771940</company>
        <email nil="true"/>
        <phone nil="true"/>
        <fax nil="true"/>
        <website nil="true"/>
        <created-at type="datetime">2018-08-23T05:35:04Z</created-at>
        <updated-at type="datetime">2018-08-23T05:35:04Z</updated-at>
        <custom-fields/>
        <credit-cards type="array"/>
        <addresses type="array"/>
      </customer>
      </customers>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"54b986693ca2a826b90603a05e68eba0"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002509.169-107.3.151.90-6934798
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <transaction>
        <type>sale</type>
        <amount>12.60</amount>
        <credit-card>
          <number>4111111111111111</number>
          <expiration-date>05/14</expiration-date>
        </credit-card>
        <customer>
          <first-name>PaginationTest-32812611064628740046080435676495336381</first-name>
        </customer>
      </transaction>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <transaction>
        <id>5ay4nw2b</id>
        <status>authorized</status>
        <type>sale</type>
        <currency-iso-code>USD</currency-iso-code>
        <amount>12.60</amount>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <sub-merchant-account-id nil="true"/>
        <master-merchant-account-id nil="true"/>
        <order-id nil="true"/>
        <created-at type="datetime">2018-08-23T05:35:08Z</created-at>
        <updated-at type="datetime">2018-08-23T05:35:09Z</updated-at>
        <customer>
          <id nil="true"/>
          <first-name>PaginationTest-32812611064628740046080435676495336381</first-name>
          <last-name nil="true"/>
          <company nil="true"/>
          <email nil="true"/>
          <website nil="true"/>
          <phone nil="true"/>
          <fax nil="true"/>
        </customer>
        <billing>
          <id nil="true"/>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address nil="true"/>
          <extended-address nil="true"/>
          <locality nil="true"/>
          <region nil="true"/>
          <postal-code nil="true"/>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </billing>
        <refund-id nil="true"/>
        <refund-ids type="array"/>
        <refunded-transaction-id nil="true"/>
        <partial-settlement-transaction-ids type="array"/>
        <authorized-transaction-id nil="true"/>
        <settlement-batch-id nil="true"/>
        <shipping>
          <id nil="true"/>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address nil="true"/>
          <extended-address nil="true"/>
          <locality nil="true"/>
          <region nil="true"/>
          <postal-code nil="true"/>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </shipping>
        <custom-fields/>
        <avs-error-response-code nil="true"/>
        <avs-postal-code-response-code>I</avs-postal-code-response-code>
        <avs-street-address-response-code>I</avs-street-address-response-code>
        <cvv-response-code>I</cvv-response-code>
        <gateway-rejection-reason nil="true"/>
        <processor-authorization-code>XKMZ3H</processor-authorization-code>
        <processor-response-code>1000</processor-response-code>
        <processor-response-text>Approved</processor-response-text>
        <additional-processor-response nil="true"/>
        <voice-referral-number nil="true"/>
        <purchase-order-number nil="true"/>
        <tax-amount nil="true"/>
        <tax-exempt type="boolean">false</tax-exempt>
        <credit-card>
          <token nil="true"/>
          <bin>411111</bin>
          <last-4>1111</last-4>
          <card-type>Visa</card-type>
          <expiration-month>05</expiration-month>
          <expiration-year>2014</expiration-year>
          <customer-location>US</customer-location>
          <cardholder-name nil="true"/>
          <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
          <prepaid>Unknown</prepaid>
          <healthcare>Unknown</healthcare>
          <debit>Unknown</debit>
          <durbin-regulated>Unknown</durbin-regulated>
          <commercial>Unknown</commercial>
          <payroll>Unknown</payroll>
          <issuing-bank>Unknown</issuing-bank>
          <country-of-issuance>Unknown</country-of-issuance>
          <product-id>Unknown</product-id>
          <unique-number-identifier nil="true"/>
          <venmo-sdk type="boolean">false</venmo-sdk>
        </credit-card>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:35:09Z</timestamp>
            <status>authorized</status>
            <amount>12.60</amount>
            <user>Braintree-Go</user>
            <transaction-source>api</transaction-source>
          </status-event>
        </status-history>
        <plan-id nil="true"/>
        <subscription-id nil="true"/>
        <subscription>
          <billing-period-end-date nil="true"/>
          <billing-period-start-date nil="true"/>
        </subscription>
        <add-ons type="array"/>
        <discounts type="array"/>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <recurring type="boolean">false</recurring>
        <channel nil="true"/>
        <service-fee-amount nil="true"/>
        <escrow-status nil="true"/>
        <disbursement-details>
          <disbursement-date nil="true"/>
          <settlement-amount nil="true"/>
          <settlement-currency-iso-code nil="true"/>
          <settlement-currency-exchange-rate nil="true"/>
          <funds-held nil="true"/>
          <success nil="true"/>
        </disbursement-details>
        <disputes type="array"/>
        <authorization-adjustments type="array"/>
        <payment-instrument-type>credit_card</payment-instrument-type>
        <processor-settlement-response-code></processor-settlement-response-code>
        <processor-settlement-response-text></processor-settlement-response-text>
        <risk-data>
          <id>7X8H01VYMW4V</id>
          <decision>Approve</decision>
          <device-data-captured type="boolean">false</device-data-captured>
        </risk-data>
        <three-d-secure-info nil="true"/>
        <ships-from-postal-code nil="true"/>
        <shipping-amount nil="true"/>
        <discount-amount nil="true"/>
        <network-transaction-id>020180823053509</network-transaction-id>
      </transaction>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"1ca4df1e4131a71dea194741863c42ce"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002508.653-107.3.151.90-6934742
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
[...]
