---
version: 1
interactions:
- request:
    body: |-
      <subscription>
        <paymentMethodToken>btmkv7</paymentMethodToken>
        <planId>test_plan</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array">
          <add-on>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">0</current-billing-cycle>
            <id>test_add_on</id>
            <name>test_add_on_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </add-on>
        </add-ons>
        <balance>0.00</balance>
        <billing-day-of-month type="integer">6</billing-day-of-month>
        <billing-period-end-date nil="true"/>
        <billing-period-start-date nil="true"/>
        <created-at type="datetime">2018-08-23T05:34:52Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:52Z</updated-at>
        <current-billing-cycle type="integer">0</current-billing-cycle>
        <days-past-due nil="true"/>
        <discounts type="array">
          <discount>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">0</current-billing-cycle>
            <id>test_discount</id>
            <name>test_discount_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </discount>
        </discounts>
        <failure-count type="integer">0</failure-count>
        <first-billing-date type="date">2018-09-06</first-billing-date>
        <id>j3fy6w</id>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <never-expires type="boolean">false</never-expires>
        <next-bill-amount>10.00</next-bill-amount>
        <next-billing-period-amount>10.00</next-billing-period-amount>
        <next-billing-date type="date">2018-09-06</next-billing-date>
        <number-of-billing-cycles type="integer">2</number-of-billing-cycles>
        <paid-through-date nil="true"/>
        <payment-method-token>btmkv7</payment-method-token>
        <plan-id>test_plan</plan-id>
        <price>10.00</price>
        <status>Active</status>
        <trial-duration type="integer">14</trial-duration>
        <trial-duration-unit>day</trial-duration-unit>
        <trial-period type="boolean">true</trial-period>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <description nil="true"/>
        <transactions type="array"/>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:34:52Z</timestamp>
            <status>Active</status>
            <user>Braintree-Go</user>
            <subscription-source>api</subscription-source>
            <balance>0.00</balance>
            <price>10.00</price>
            <currency-iso-code>USD</currency-iso-code>
            <plan-id>test_plan</plan-id>
          </status-event>
        </status-history>
      </subscription>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"ec051a99cb5a621c39ca606e5937f57c"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002489.432-107.3.151.90-6932719
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: |-
      <subscription>
        <id>fdd7jm</id>
        <add-ons>
          <add type="array">
            <modification>
              <amount>3.00</amount>
              <quantity>1</quantity>
              <never-expires>true</never-expires>
              <inherited-from-id>test_add_on</inherited-from-id>
            </modification>
          </add>
        </add-ons>
        <discounts>
          <add type="array">
            <modification>
              <amount>1.00</amount>
              <number-of-billing-cycles>2</number-of-billing-cycles>
              <quantity>1</quantity>
              <inherited-from-id>test_discount</inherited-from-id>
            </modification>
          </add>
        </discounts>
      </subscription>
    form: {}
    headers:
     [...]
[...]
- request:
    body: |-
      <settlement_batch_summary>
        <settlement_date>2018-08-23</settlement_date>
      </settlement_batch_summary>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/settlement_batch_summary
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <settlement-batch-summary>
        <records type="array">
          <record>
            <kind>credit</kind>
            <card-type>Visa</card-type>
            <amount-settled>1000.00</amount-settled>
            <count type="integer">8</count>
            <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
          </record>
          <record>
            <kind>sale</kind>
            <card-type>Discover</card-type>
            <amount-settled>500.00</amount-settled>
            <count type="integer">5</count>
            <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
          </record>
          <record>
            <kind>sale</kind>
            <card-type>JCB</card-type>
            <a[...]
