---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/merchant_accounts/6303220950515014660
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <merchant-account>
        <id>6303220950515014660</id>
        <status>active</status>
        <currency-iso-code>USD</currency-iso-code>
        <default type="boolean">false</default>
        <sub-merchant-account type="boolean">true</sub-merchant-account>
        <master-merchant-account>
          <status>active</status>
          <id>bvps8ckgst59crzs</id>
          <currency-iso-code>USD</currency-iso-code>
          <default type="boolean">true</default>
          <sub-merchant-account type="boolean">false</sub-merchant-account>
        </master-merchant-account>
        <individual>
          <date-of-birth>1989-01-01</date-of-birth>
          <ssn-last-4 nil="true"/>
          <first-name>Kayle</first-name>
          <last-name>Gishen</last-name>
          <email>kayle.gishen@example.com</email>
          <phone>5556789012</phone>
          <address>
            <street-address>1 E Main St Suite 404</street-address>
            <locality>Chicago</locality>
            <region>IL</region>
            <postal-code>60622</postal-code>
          </address>
        </individual>
        <business>
          <legal-name nil="true"/>
          <dba-name nil="true"/>
          <tax-id nil="true"/>
          <address>
            <street-address nil="true"/>
            <locality nil="true"/>
            <region nil="true"/>
            <postal-code nil="true"/>
          </address>
        </business>
        <funding>
          <account-number-last-4 nil="true"/>
          <routing-number nil="true"/>
          <destination>mobile_phone</destination>
          <email nil="true"/>
          <mobile-phone>5552344567</mobile-phone>
          <descriptor>Kayle Gishen</descriptor>
        </funding>
      </merchant-account>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"496ccbb15af6520a8596c96a4199094b"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002495.056-107.3.151.90-2897363
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <payment-method>
        <token>btgo_test_token_843629396670111123</token>
        <payment-method-nonce>fake-valid-mastercard-nonce</payment-method-nonce>
      </payment-method>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "4"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/payment_methods/any/5qb6f7
    method: PUT
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <credit-card>
        <billing-address>
          <id>hd</id>
          <customer-id>663635283</customer-id>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address nil="true"/>
          <extended-address nil="true"/>
          <locality nil="true"/>
          <region nil="true"/>
          <postal-code>94107</postal-code>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
          <country-name nil="true"/>
          <created-at type="datetime">2018-08-23T05:34:55Z</created-at>
          <updated-at type="datetime">2018-08-23T05:34:55Z</updated-at>
        </billing-address>
        <bin>555555</bin>
        <card-type>MasterCard</card-type>
        <cardholder-name nil="true"/>
        <commercial>Unknown</commercial>
        <country-of-issuance>Unknown</country-of-issuance>
        <created-at type="datetime">2018-08-23T05:34:54Z</created-at>
        <customer-id>663635283</customer-id>
        <customer-location>US</customer-location>
        <debit>Unknown</debit>
        <default type="boolean">true</default>
        <durbin-regulated>Unknown</durbin-regulated>
        <expiration-month>12</expiration-month>
        <expiration-year>2019</expiration-year>
        <expired type="boolean">false</expired>
        <healthcare>Unknown</healthcare>
        <image-url>https://assets.braintreegateway.com/payment_method_logo/mastercard.png?environment=sandbox</image-url>
        <issuing-bank>Unknown</issuing-bank>
        <last-4>4444</last-4>
        <payroll>Unknown</payroll>
        <prepaid>Unknown</prepaid>
        <product-id>Unknown</product-id>
        <subscriptions type="array"/>
        <token>btgo_test_token_843629396670111123</token>
        <unique-number-identifier>3cb1addaf787a68b91a549b8a5f4de1e</unique-number-identifier>
        <updated-at type="datetime">2018-08-23T05:34:56Z</updated-at>
        <venmo-sdk type="boolean">false</venmo-sdk>
        <verifications type="array">
          <verification>
            <status>verified</status>
            <cvv-response-code>M</cvv-response-code>
            <avs-error-response-code nil="true"/>
            <avs-postal-code-response-code>M</avs-postal-code-response-code>
            <avs-street-address-response-code>I</avs-street-address-response-code>
            <gateway-rejection-reason nil="true"/>
            <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
            <processor-response-code>1000</processor-response-code>
            <processor-response-text>Approved</processor-response-text>
            <amount>0.00</amount>
            <currency-iso-code>USD</currency-iso-code>
            <id>0mf25n89</id>
            <billing>
              <first-name nil="true"/>
              <last-name nil="true"/>
              <company nil="true"/>
              <street-address nil="true"/>
              <extended-address nil="true"/>
              <locality nil="true"/>
              <region nil="true"/>
              <postal-code>94107</postal-code>
              <country-name nil="true"/>
            </billing>
            <credit-card>
              <token>btgo_test_token_843629396670111123</token>
              <bin>555555[...]
