---
version: 1
interactions:
- request:
    body: |-
      <customer>
        <first-name>John</first-name>
        <last-name>Smith</last-name>
        <company>PaginationTest-46183865934929389192719220396369775194</company>
      </customer>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/customers
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <customer>
        <id>256265044</id>
        <merchant-id>4ngqq224rnk6gvxh</merchant-id>
        <first-name>John</first-name>
        <last-name>Smith</last-name>
        <company>PaginationTest-46183865934929389192719220396369775194</company>
        <email nil="true"/>
        <phone nil="true"/>
        <fax nil="true"/>
        <website nil="true"/>
        <created-at type="datetime">2018-08-23T05:35:07Z</created-at>
        <updated-at type="datetime">2018-08-23T05:35:07Z</updated-at>
        <custom-fields/>
        <credit-cards type="array"/>
        <addresses type="array"/>
      </customer>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"884ad9a4acebdc5402397ecb895374ad"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002507.037-107.3.151.90-6934563
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |-
      <search>
        <customer-first-name>
          <is>Erik-466405657807630571</is>
        </customer-first-name>
      </search>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions/advanced_search_ids
    method: POST
  response:
    body: |
      <search-results>
        <page-size type="integer">50</page-size>
        <ids type="array">
            <item>bv676j9v</item>
        </ids>
      </search-results>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"fd5f9e9b9d33356474cba2b752bcc64f"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002507.098-107.3.151.90-2897978
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <transaction>
        <type>sale</type>
        <amount>14.23</amount>
        <payment-method-nonce>fake-valid-nonce</payment-method-nonce>
        <line-items type="array">
          <item>
            <name>Name #1</name>
            <description>Description #1</description>
            <kind>debit</kind>
            <quantity>1.0232</quantity>
            <unit-amount>45.1232</unit-amount>
            <unit-tax-amount>1.23</unit-tax-amount>
            <total-amount>45.15</total-amount>
            <tax-amount>4.55</tax-amount>
            <discount-amount>1.02</discount-amount>
            <unit-of-measure>gallon</unit-of-measure>
            <product-code>23434</product-code>
            <commodity-code>9SAASSD8724</commodity-code>
            <url>https://example.com/products/23434</url>
          </item>
          <item>
            <name></name>
            <description>Description #2</description>
            <kind>debit</kind>
            <quantity>1.0232</quantity>
            <unit-amount>45.1232</unit-amount>
            <unit-tax-amount>1.23</unit-tax-amount>
            <total-amount>45.15</total-amount>
            <tax-amount>4.55</tax-amount>
            <discount-amount>1.02</discount-amount>
            <unit-of-measure>gallon</unit-of-measure>
            <product-code>23434</product-code>
            <commodity-code>9SAASSD8724</commodity-code>
            <url>https://example.com/products/23434</url>
          </item>
        </line-items>
      </transaction>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <api-error-response>
        <errors>
          <errors type="array"/>
          <transaction>
            <errors type="array"/>
            <billing>
              <errors type="array"/>
            </billing>
            <credit-card>
              <errors type="array"/>
              <billing-address>
                <errors type="array"/>
              </billing-address>
            </credit-card>
            <line-items>
              <errors type="array"/>
              <index-1>
                <errors type="array">
                  <error>
                    <code>95822</code>
                    <attribute type="symbol">name</attribute>
                    <message>Name is required.</message>
                  </error>
                </errors>
              </index-1>
            </line-items>
          </transaction>
        </errors>
        <params>
          <transaction>
            <type>sale</type>
            <amount>14.23</amount>
            <payment-method-nonce>fake-valid-nonce</payment-method-nonce>
            <line-items type="array">
              <line-item>
                <name>Name #1</name>
                <description>Description #1</description>
                <kind>debit</kind>
                <quantity>1.0232</quantity>
                <unit-amount>45.1232</unit-amount>
                <unit-tax-amount>1.23</unit-tax-amount>
                <total-amount>45.15</total-amount>
                <tax-amount>4.55</tax-amount>
                <discount-amount>1.02</discount-amount>
                <unit-of-measure>gallon</unit-of-measure>
       [...]
- request:
    body: |-
      <subscription>
        <first-billing-date>2018-12-31</first-billing-date>
        <number-of-billing-cycles>2</number-of-billing-cycles>
        <paymentMethodToken>gqsnwc</paymentMethodToken>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array"/>
        <balance>0.00</balance>
        <billing-day-of-month type="integer">31</billing-day-of-month>
        <billing-period-end-date nil="true"/>
        <billing-period-start-date nil="true"/>
        <created-at type="datetime">2018-08-23T05:35:10Z</created-at>
        <updated-at type="datetime">2018-08-23T05:35:10Z</updated-at>
        <current-billing-cycle type="integer">0</current-billing-cycle>
        <days-past-due nil="true"/>
        <discounts type="array"/>
        <failure-count type="integer">0</failure-count>
        <first-billing-date type="date">2018-12-31</first-billing-date>
        <id>8rqxvr</id>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <never-expires type="boolean">false</never-expires>
        <next-bill-amount>20.00</next-bill-amount>
        <next-billing-period-amount>20.00</next-billing-period-amount>
        <next-billing-date type="date">2018-12-31</next-billing-date>
        <number-of-billing-cycles type="integer">2</number-of-billing-cycles>
        <paid-through-date nil="true"/>
        <payment-method-token>gqsnwc</payment-method-token>
        <plan-id>test_plan_2</plan-id>
        <price>20.00</price>
        <status>Pending</status>
        <trial-duration nil="true"/>
        <trial-duration-unit nil="true"/>
        <trial-period type="boolean">false</trial-period>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <description nil="true"/>
        <transactions type="array"/>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:35:10Z</timestamp>
            <status>Pending</status>
            <user>Braintree-Go</user>
            <subscription-source>api</subscription-source>
            <balance>0.00</balance>
            <price>20.00</price>
            <currency-iso-code>USD</currency-iso-code>
            <plan-id>test_plan_2</plan-id>
          </status-event>
        </status-history>
      </subscription>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"776ad0543abf0f91ce4aa0a01a817822"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002507.064-107.3.151.90-2897972
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
