---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/customers/235046419
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <customer>
        <id>235046419</id>
        <merchant-id>4ngqq224rnk6gvxh</merchant-id>
        <first-name nil="true"/>
        <last-name nil="true"/>
        <company nil="true"/>
        <email nil="true"/>
        <phone nil="true"/>
        <fax nil="true"/>
        <website nil="true"/>
        <created-at type="datetime">2018-08-23T05:34:57Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:57Z</updated-at>
        <custom-fields>
          <custom-field-1>custom value</custom-field-1>
        </custom-fields>
        <credit-cards type="array"/>
        <addresses type="array"/>
      </customer>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"451e2343524b09a706cd280559f0500b"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002498.059-107.3.151.90-6933510
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
