---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions/5e6pkrj3/line_items
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <line-items type="array">
      <line-item>
        <quantity>1.0232</quantity>
        <name>Name #1</name>
        <description>Description #1</description>
        <kind>debit</kind>
        <unit-amount>45.1232</unit-amount>
        <unit-tax-amount>1.23</unit-tax-amount>
        <discount-amount>1.02</discount-amount>
        <total-amount>45.15</total-amount>
        <unit-of-measure>gallon</unit-of-measure>
        <product-code>23434</product-code>
        <commodity-code>9SAASSD8724</commodity-code>
        <url>https://example.com/products/23434</url>
        <tax-amount>4.55</tax-amount>
      </line-item>
      <line-item>
        <quantity>2.02</quantity>
        <name>Name #2</name>
        <description>Description #2</description>
        <kind>credit</kind>
        <unit-amount>5</unit-amount>
        <unit-tax-amount nil="true"/>
        <discount-amount nil="true"/>
        <total-amount>45.15</total-amount>
        <unit-of-measure>gallon</unit-of-measure>
        <product-code nil="true"/>
        <commodity-code nil="true"/>
        <url nil="true"/>
        <tax-amount>4.55</tax-amount>
      </line-item>
      </line-items>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"030750c3b58ccb987fddd5b8860f4a53"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002508.240-107.3.151.90-6934698
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |-
      <search>
        <company>
          <starts-with>PaginationTest-4618386593492938919</starts-with>
        </company>
        <ids type="array">
          <item>100331973</item>
          <item>116832646</item>
          <item>127780953</item>
          <item>133849666</item>
          <item>138086864</item>
          <item>151226481</item>
          <item>160558119</item>
          <item>182773703</item>
          <item>191992334</item>
          <item>205136823</item>
          <item>207629634</item>
          <item>220740716</item>
          <item>239409551</item>
          <item>240579473</item>
          <item>244090639</item>
          <item>25626[...]
