---
version: 1
interactions:
- request:
    body: |-
      <customer>
        <first-name>John</first-name>
        <last-name>Smith</last-name>
        <company>PaginationTest-46183865934929389195416873989634380176</company>
      </customer>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/customers
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <customer>
        <id>240579473</id>
        <merchant-id>4ngqq224rnk6gvxh</merchant-id>
        <first-name>John</first-name>
        <last-name>Smith</last-name>
        <company>PaginationTest-46183865934929389195416873989634380176</company>
        <email nil="true"/>
        <phone nil="true"/>
        <fax nil="true"/>
        <website nil="true"/>
        <created-at type="datetime">2018-08-23T05:34:59Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:59Z</updated-at>
        <custom-fields/>
        <credit-cards type="array"/>
        <addresses type="array"/>
      </customer>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"c7ea7dee5578fdd381b2602048005e15"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002499.835-107.3.151.90-2897544
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: |-
      <credit-card>
        <customer-id>843716901</customer-id>
        <payment-method-nonce>fake-processor-declined-visa-nonce</payment-method-nonce>
        <options>
          <verify-card>false</verify-card>
        </options>
      </credit-card>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/payment_methods
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <credit-card>
        <billing-address>
          <id>jj</id>
          <customer-id>843716901</customer-id>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address nil="true"/>
          <extended-address nil="true"/>
          <locality nil="true"/>
          <region nil="true"/>
          <postal-code>94107</postal-code>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
          <country-name nil="true"/>
          <created-at type="datetime">2018-08-23T05:34:59Z</created-at>
          <updated-at type="datetime">2018-08-23T05:34:59Z</updated-at>
        </billing-address>
        <bin>400011</bin>
        <card-type>Visa</card-type>
        <cardholder-name nil="true"/>
        <commercial>Unknown</commercial>
        <country-of-issuance>Unknown</country-of-issuance>
        <created-at type="datetime">2018-08-23T05:34:59Z</created-at>
        <customer-id>843716901</customer-id>
        <customer-location>US</customer-location>
        <debit>Unknown</debit>
        <default type="boolean">true</default>
        <durbin-regulated>Unknown</durbin-regulated>
        <expiration-month>12</expiration-month>
        <expiration-year>2019</expiration-year>
        <expired type="boolean">false</expired>
        <healthcare>Unknown</healthcare>
        <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
        <issuing-bank>Unknown</issuing-bank>
        <last-4>1115</last-4>
        <payroll>Unknown</payroll>
        <prepaid>Unknown</prepaid>
        <product-id>Unknown</product-id>
        <subscriptions type="array"/>
        <token>6k6wz7</token>
        <unique-number-identifier>a879d16edb5b29c79bcf7041326d6ef1</unique-number-identifier>
        <updated-at type="datetime">2018-08-23T05:34:59Z</updated-at>
        <venmo-sdk type="boolean">false</venmo-sdk>
        <verifications type="array"/>
      </credit-card>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"406dffef05bb45f365ceae7f5b9e16f1"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002499.786-107.3.151.90-2897541
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: |-
      <subscription>
        <first-billing-date>2018-12-31</first-billing-date>
        <number-of-billing-cycles>2</number-of-billing-cycles>
        <paymentMethodToken>gqsnwc</paymentMethodToken>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array"/>
        <balance>0.00</balance>
        <billing-day-of-month type="integer">31</billing-day-of-month>
        <billing-period-end-date nil="true"/>
        <billing-period-start-date nil="true"/>
        <created-at type="datetime">2018-08-23T05:35:02Z</created-at>
        <updated-at type="datetime">2018-08-23T05:35:02Z</updated-at>
        <current-billing-cycle type="integer">0</current-billing-cycle>
        <days-past-due nil="true"/>
        <discounts type="array"/>
        <failure-count type="integer">0</failure-count>
        <first-billing-date type="date">2018-12-31</first-billing-date>
        <id>2wybt2</id>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <never-expires type="boolean">false</never-expires>
        <next-bill-amount>20.00</next-bill-amount>
        <next-billing-period-amount>20.00</next-billing-period-amount>
        <next-billing-date type="date">2018-12-31</next-billing-date>
        <number-of-billing-cycles type="integer">2</number-of-billing-cycles>
        <paid-through-date nil="true"/>
        <payment-method-token>gqsnwc</payment-method-token>
        <plan-id>test_plan_2</plan-id>
        <price>20.00</price>
        <status>Pending</status>
        <trial-duration nil="true"/>
        <trial-duration-unit nil="true"/>
        <trial-period type="boolean">false</trial-period>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <description nil="true"/>
        <transactions type="array"/>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:35:02Z</timestamp>
            <status>Pending</status>
            <user>Braintree-Go</user>
            <subscription-source>api</subscription-source>
            <balance>0.00</balance>
            <price>20.00</price>
            <currency-iso-code>USD</currency-iso-code>
            <plan-id>test_plan_2</plan-id>
          </status-event>
        </status-history>
      </subscription>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"c73ca8427531af63ad552e4f35263730"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002499.814-107.3.151.90-2897543
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |-
      <search>
        <created-at>
          <min type="datetime">2018-08-23T05:24:56Z</min>
          <max type="datetime">2018-08-23T05:34:56Z</max>
        </created-at>
        <plan-id>
          <is>test_plan</is>
        </plan-id>
        <ids type="array">
          <item>c6ymng</item>
          <item>j3fy6w</item>
          <item>6bh942</item>
          <item>9h75hg</item>
          <item>7jmmgw</item>
          <item>cfspj2</item>
          <item>9j3282</item>
          <item>hctn9r</item>
          <item>3p9f6b</item>
          <item>dfxtrw</item>
          <item>6m67q6</item>
          <item>92dwgw</item>
        </ids>
      </search>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions/advanced_search
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscriptions type="collection">
        <current-page-number type="integer">1</current-page-number>
        <page-size type="integer">50</page-size>
        <total-items type="integer">12</total-items>
      <subscription>
        <add-ons type="array">
          <add-on>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">0</current-billing-cycle>
            <id>test_add_on</id>
            <name>test_add_on_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </add-on>
        </add-ons>
        <balance>0.00</balance>
        <billing-day-of-month type="integer">6</billing-day-of-month>
        <billing-period-end-date nil="true"/>
        <billing-period-start-date nil="true"/>
        <created-at type="datetime">2018-08-23T05:34:53Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:53Z</updated-at>
        <current-billing-cycle type="integer">0</current-billing-cycle>
        <days-past-due nil="true"/>
        <discounts type="array">
          <discount>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">0</current-billing-cycle>
            <id>test_discount</id>
            <name>test_discount_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </discount>
        </discounts>
        <failure-count type="integer">0</failure-count>
        <first-billing-date type="date">2018-0[...]
