---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/customers/254560203
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <customer>
        <id>254560203</id>
        <merchant-id>4ngqq224rnk6gvxh</merchant-id>
        <first-name nil="true"/>
        <last-name nil="true"/>
        <company nil="true"/>
        <email nil="true"/>
        <phone nil="true"/>
        <fax nil="true"/>
        <website nil="true"/>
        <created-at type="datetime">2018-08-23T05:34:58Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:58Z</updated-at>
        <custom-fields/>
        <credit-cards type="array"/>
        <addresses type="array"/>
        <apple-pay-cards type="array">
          <apple-pay-card>
            <bin>401288</bin>
            <card-type>Apple Pay - Visa</card-type>
            <created-at type="datetime">2018-08-23T05:34:58Z</created-at>
            <customer-id>254560203</customer-id>
            <default type="boolean">true</default>
            <expiration-month>12</expiration-month>
            <expiration-year>2020</expiration-year>
            <expired type="boolean">false</expired>
            <image-url>https://assets.braintreegateway.com/payment_method_logo/apple_pay.png?environment=sandbox</image-url>
            <last-4>1881</last-4>
            <payment-instrument-name>Visa 8886</payment-instrument-name>
            <source-description>Visa 8886</source-description>
            <subscriptions type="array"/>
            <token>48cs5s</token>
            <updated-at type="datetime">2018-08-23T05:34:58Z</updated-at>
          </apple-pay-card>
        </apple-pay-cards>
      </customer>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"3ae2bbe8a8dce9674e6a04485a6bc073"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002498.979-107.3.151.90-2897508
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
