---
version: 1
interactions:
- request:
    body: |-
      <payment-method>
        <customer-id>285271594</customer-id>
        <payment-method-nonce>fake-processor-declined-visa-nonce</payment-method-nonce>
        <options>
          <verify-card>false</verify-card>
        </options>
      </payment-method>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "4"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/payment_methods
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <credit-card>
        <billing-address>
          <id>z3</id>
          <customer-id>285271594</customer-id>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address nil="true"/>
          <extended-address nil="true"/>
          <locality nil="true"/>
          <region nil="true"/>
          <postal-code>94107</postal-code>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
          <country-name nil="true"/>
          <created-at type="datetime">2018-08-23T05:34:53Z</created-at>
          <updated-at type="datetime">2018-08-23T05:34:53Z</updated-at>
        </billing-address>
        <bin>400011</bin>
        <card-type>Visa</card-type>
        <cardholder-name nil="true"/>
        <commercial>Unknown</commercial>
        <country-of-issuance>Unknown</country-of-issuance>
        <created-at type="datetime">2018-08-23T05:34:53Z</created-at>
        <customer-id>285271594</customer-id>
        <customer-location>US</customer-location>
        <debit>Unknown</debit>
        <default type="boolean">true</default>
        <durbin-regulated>Unknown</durbin-regulated>
        <expiration-month>12</expiration-month>
        <expiration-year>2019</expiration-year>
        <expired type="boolean">false</expired>
        <healthcare>Unknown</healthcare>
        <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
        <issuing-bank>Unknown</issuing-bank>
        <last-4>1115</last-4>
        <payroll>Unknown</payroll>
        <prepaid>Unknown</prepaid>
        <product-id>Unknown</product-id>
        <subscriptions type="array"/>
        <token>ck3sgx</token>
        <unique-number-identifier>a879d16edb5b29c79bcf7041326d6ef1</unique-number-identifier>
        <updated-at type="datetime">2018-08-23T05:34:53Z</updated-at>
        <venmo-sdk type="boolean">false</venmo-sdk>
        <verifications type="array"/>
      </credit-card>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"3b865831f429a215f226f6cc09a06ddb"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002493.533-107.3.151.90-6933090
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
