---
version: 1
interactions:
- request:
    body: |-
      <transaction>
        <type>sale</type>
        <amount>64.83</amount>
        <credit-card>
          <number>4111111111111111</number>
          <expiration-date>05/14</expiration-date>
        </credit-card>
        <customer>
          <first-name>PaginationTest-32812611064628740042913650413885559267</first-name>
        </customer>
      </transaction>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <transaction>
        <id>jzbja9jv</id>
        <status>authorized</status>
        <type>sale</type>
        <currency-iso-code>USD</currency-iso-code>
        <amount>64.83</amount>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <sub-merchant-account-id nil="true"/>
        <master-merchant-account-id nil="true"/>
        <order-id nil="true"/>
        <created-at type="datetime">2018-08-23T05:35:31Z</created-at>
        <updated-at type="datetime">2018-08-23T05:35:31Z</updated-at>
        <customer>
          <id nil="true"/>
          <first-name>PaginationTest-32812611064628740042913650413885559267</first-name>
          <last-name nil="true"/>
          <company nil="true"/>
          <email nil="true"/>
          <website nil="true"/>
          <phone nil="true"/>
          <fax nil="true"/>
        </customer>
        <billing>
          <id nil="true"/>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address nil="true"/>
          <extended-address nil="true"/>
          <locality nil="true"/>
          <region nil="true"/>
          <postal-code nil="true"/>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </billing>
        <refund-id nil="true"/>
        <refund-ids type="array"/>
        <refunded-transaction-id nil="true"/>
        <partial-settlement-transaction-ids type="array"/>
        <authorized-transaction-id nil="true"/>
        <settlement-batch-id nil="true"/>
        <shipping>
          <id nil="true"/>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address nil="true"/>
          <extended-address nil="true"/>
          <locality nil="true"/>
          <region nil="true"/>
          <postal-code nil="true"/>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </shipping>
        <custom-fields/>
        <avs-error-response-code nil="true"/>
        <avs-postal-code-response-code>I</avs-postal-code-response-code>
        <avs-street-address-response-code>I</avs-street-address-response-code>
        <cvv-response-code>I</cvv-response-code>
        <gateway-rejection-reason nil="true"/>
        <processor-authorization-code>C14NYL</processor-authorization-code>
        <processor-response-code>1000</processor-response-code>
        <processor-response-text>Approved</processor-response-text>
        <additional-processor-response nil="true"/>
        <voice-referral-number nil="true"/>
        <purchase-order-number nil="true"/>
        <tax-amount nil="true"/>
        <tax-exempt type="boolean">false</tax-exempt>
        <credit-card>
          <token nil="true"/>
          <bin>411111</bin>
          <last-4>1111</last-4>
          <card-type>Visa</card-type>
          <expiration-month>05</expiration-month>
          <expiration-year>2014</expiration-year>
          <customer-location>US</customer-location>
          <cardholder-name nil="true"/>
          <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
          <prepaid>Unknown</prepaid>
          <healthcare>Unknown</healthcare>
          <debit>Unknown</debit>
          <durbin-regulated>Unknown</durbin-regulated>
          <commercial>Unknown</commercial>
          <payroll>Unknown</payroll>
          <issuing-bank>Unknown</issuing-bank>
          <country-of-issuance>Unknown</country-of-issuance>
          <product-id>Unknown</product-id>
          <unique-number-identifier nil="true"/>
          <venmo-sdk type="boolean">false</venmo-sdk>
        </credit-card>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:35:31Z</timestamp>
            <status>authorized</status>
            <amount>64.83</amount>
            <user>Braintree-Go</user>
            <transaction-source>api</transaction-source>
          </status-event>
        </status-history>
        <plan-id nil="true"/>
        <subscription-id nil="true"/>
        <subscription>
          <billing-period-end-date nil="true"/>
          <billing-period-start-date nil="true"/>
        </subscription>
        <add-ons type="array"/>
        <discounts type="array"/>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <recurring type="boolean">false</recurring>
        <channel nil="true"/>
        <service-fee-amount nil="true"/>
        <escrow-status nil="true"/>
        <disbursement-details>
          <disbursement-date nil="true"/>
          <settlement-amount nil="true"/>
          <settlement-currency-iso-code nil="true"/>
          <settlement-currency-exchange-rate nil="true"/>
          <funds-held nil="true"/>
          <success nil="true"/>
        </disbursement-details>
        <disputes type="array"/>
        <authorization-adjustments type="array"/>
        <payment-instrument-type>credit_card</payment-instrument-type>
        <processor-settlement-response-code></processor-settlement-response-code>
        <processor-settlement-response-text></processor-settlement-response-text>
        <risk-data>
          <id>7X8H0S63NNL4</id>
          <decision>Approve</decision>
          <device-data-captured type="boolean">false</device-data-captured>
        </risk-data>
        <three-d-secure-info nil="true"/>
        <ships-from-postal-code nil="true"/>
        <shipping-amount nil="true"/>
        <discount-amount nil="true"/>
        <network-transaction-id>020180823053531</network-transaction-id>
      </transaction>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"f866379cc1a24fdb4e998d727e08b92e"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002531.110-107.3.151.90-6936645
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: |-
      <subscription>
        <paymentMethodToken>328frx</paymentMethodToken>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array"/>
        <balance>0.00</balance>
        <billing-day-of-month type="integer">31</billing-day-of-month>
        <billing-period-end-date nil="true"/>
        <billing-period-start-date nil="true"/>
        <created-at type="datetime">2018-08-23T05:35:35Z</created-at>
        <updated-at type="datetime">2018-08-23T05:35:35Z</updated-at>
        <current-billing-cycle type="integer">0</current-billing-cycle>
        <days-past-due nil="true"/>
        <discounts type="array"/>
        <failure-count type="integer">0</failure-count>
        <first-billing-date type="date">2018-08-31</first-billing-date>
        <id>cvr2t2</id>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <never-expires type="boolean">true</never-expires>
        <next-bill-amount>20.00</next-bill-amount>
        <next-billing-period-amount>20.00</next-billing-period-amount>
        <next-billing-date type="date">2018-08-31</next-billing-date>
        <number-of-billing-cycles nil="true"/>
        <paid-through-date nil="true"/>
        <payment-method-token>328frx</payment-method-token>
        <plan-id>test_plan_2</plan-id>
        <price>20.00</price>
        <status>Pending</status>
        <trial-duration nil="true"/>
        <trial-duration-unit nil="true"/>
        <trial-period type="boolean">false</trial-period>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <description nil="true"/>
        <transactions type="array"/>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:35:35Z</timestamp>
            <status>Pending</status>
            <user>Braintree-Go</user>
            <subscription-source>api</subscription-source>
            <balance>0.00</balance>
            <price>20.00</price>
            <currency-iso-code>USD</currency-iso-code>
            <plan-id>test_plan_2</plan-id>
          </status-event>
        </status-history>
      </subscription>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"47cb888c91e9538845df1419c7288b5f"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002532.630-107.3.151.90-2898838
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: |-
      <search>
        <customer-first-name>
          <starts-with>PaginationTest-3281261106462874004</starts-with>
        </customer-first-name>
      </search>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions/advanced_search_ids
    method: POST
  response:
    body: |
      <search-results>
        <page-size type="integer">50</page-size>
        <ids type="array">
            <item>7hzjhq8n</item>
            <item>n5jhsnz4</item>
            <item>0dwpnxgd</item>
            <item>067tx3j5</item>
            <item>r6y13m37</item>
            <item>8bkgm2fm</item>
            <item>86f7mkqv</item>
            <item>8e43ddp3</item>
            <item>mcs23sj6</item>
            <item>mjkef00s</item>
            <item>9znv57qk</item>
            <item>e5kxw691</item>
            <item>dzshgzte</item>
            <item>as9s7jyj</item>
            <item>brr3n4m4</item>
        [...]
[...]
- request:
    body: |-
      <search>
        <customer-first-name>
          <starts-with>PaginationTest-3337350818474134116</starts-with>
        </customer-first-name>
        <ids type="array">
          <item>nt26wjea</item>
          <item>2k3n4572</item>
          <item>d06w2q1n</item>
          <item>g6pmc3xh</item>
          <item>3cqk6ge1</item>
          <item>7cv9j8gw</item>
          <item>n834k15k</item>
          <item>1501yxgx</item>
          <item>214jtkyb</item>
          <it[...]
[...]
- request:
    body: |-
      <search>
        <customer-first-name>
          <starts-with>PaginationTest-3337350818474134116</starts-with>
        </customer-first-name>
        <ids type="array">
          <item>9035pyyt</item>
        </ids>
      </search>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions/advanced_search
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <credit-card-transactions type="collection">
        <current-page-number type="integer">1</current-page-number>
        <page-size type="integer">50</page-size>
        <total-items type="integer">1</total-items>
      <transaction>
        <id>9035pyyt</id>
        <status>authorized</status>
        <type>sale</type>
        <currency-iso-code>USD</currency-iso-code>
        <amount>47.45</amount>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <sub-merchant-account-id nil="true"/>
        <master-merchant-account-id nil="true"/>
        <order-id nil="true"/>
        <created-at type="datetime">2018-08-23T05:35:46Z</created-at>
        <update[...]
[...]
