---
version: 1
interactions:
- request:
    body: |-
      <merchant-account>
        <id>8274930044578894929</id>
        <master-merchant-account-id>bvps8ckgst59crzs</master-merchant-account-id>
        <tos_accepted>true</tos_accepted>
        <individual>
          <first-name>First</first-name>
          <last-name>Last</last-name>
          <email>firstlast@example.com</email>
          <phone>0000000000</phone>
          <date-of-birth>1-1-1900</date-of-birth>
          <address>
            <street-address>222 W Merchandise Mart Plaza Suite 800</street-address>
            <locality>Chicago</locality>
            <region>IL</region>
            <postal-code>00000</postal-code>
          </address>
        </individual>
        <funding>
          <destination>mobile_phone</destination>
          <mobile-phone>0000000000</mobile-phone>
        </funding>
      </merchant-account>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/merchant_accounts/create_via_api
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <merchant-account>
        <status>pending</status>
        <id>8274930044578894929</id>
        <master-merchant-account>
          <status>active</status>
          <id>bvps8ckgst59crzs</id>
          <currency-iso-code>USD</currency-iso-code>
          <default type="boolean">true</default>
          <sub-merchant-account type="boolean">false</sub-merchant-account>
        </master-merchant-account>
        <currency-iso-code>USD</currency-iso-code>
        <default type="boolean">false</default>
        <sub-merchant-account type="boolean">true</sub-merchant-account>
      </merchant-account>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"06e1299905354381b843062c558d3c56"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002484.598-107.3.151.90-2896916
      X-User:
      - kkf6b66dz8xy83p6
    status: 201 Created
    code: 201
    duration: ""
