---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions/dskdmb
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <transaction>
        <id>dskdmb</id>
        <status>settled</status>
        <type>sale</type>
        <currency-iso-code>USD</currency-iso-code>
        <amount>100.00</amount>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <sub-merchant-account-id nil="true"/>
        <master-merchant-account-id nil="true"/>
        <order-id>my_custom_order</order-id>
        <created-at type="datetime">2013-06-27T02:22:40Z</created-at>
        <updated-at type="datetime">2013-06-27T07:03:51Z</updated-at>
        <customer>
          <id>8625385</id>
          <first-name>Lionel</first-name>
          <last-name nil="true"/>
          <company nil="true"/>
          <email nil="true"/>
          <website nil="true"/>
          <phone nil="true"/>
          <fax nil="true"/>
        </customer>
        <billing>
          <id>8r</id>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address>1 E Main St</street-address>
          <extended-address nil="true"/>
          <locality>Chicago</locality>
          <region>IL</region>
          <postal-code>60637</postal-code>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </billing>
        <refund-id nil="true"/>
        <refund-ids type="array"/>
        <refunded-transaction-id nil="true"/>
        <partial-settlement-transaction-ids type="array"/>
        <authorized-transaction-id nil="true"/>
        <settlement-batch-id>2013-06-27_bvps8ckgst59crzs</settlement-batch-id>
        <shipping>
          <id nil="true"/>
          <first-name nil="true"/>
          <last-name nil="true"/>
          <company nil="true"/>
          <street-address>1 E Main St</street-address>
          <extended-address nil="true"/>
          <locality>Chicago</locality>
          <region>IL</region>
          <postal-code>60637</postal-code>
          <country-name nil="true"/>
          <country-code-alpha2 nil="true"/>
          <country-code-alpha3 nil="true"/>
          <country-code-numeric nil="true"/>
        </shipping>
        <custom-fields/>
        <avs-error-response-code nil="true"/>
        <avs-postal-code-response-code>M</avs-postal-code-response-code>
        <avs-street-address-response-code>M</avs-street-address-response-code>
        <cvv-response-code>M</cvv-response-code>
        <gateway-rejection-reason nil="true"/>
        <processor-authorization-code>XTGLM8</processor-authorization-code>
        <processor-response-code>1000</processor-response-code>
        <processor-response-text>Approved</processor-response-text>
        <additional-processor-response nil="true"/>
        <voice-referral-number nil="true"/>
        <purchase-order-number nil="true"/>
        <tax-amount nil="true"/>
        <tax-exempt type="boolean">false</tax-exempt>
        <credit-card>
          <token>c23q5</token>
          <bin>411111</bin>
          <last-4>1111</last-4>
          <card-type>Visa</card-type>
          <expiration-month>05</expiration-month>
          <expiration-year>2014</expiration-year>
          <customer-location>US</customer-location>
          <cardholder-name nil="true"/>
          <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
          <prepaid>Unknown</prepaid>
          <healthcare>Unknown</healthcare>
          <debit>Unknown</debit>
          <durbin-regulated>Unknown</durbin-regulated>
          <commercial>Unknown</commercial>
          <payroll>Unknown</payroll>
          <issuing-bank>Unknown</issuing-bank>
          <country-of-issuance>Unknown</country-of-issuance>
          <product-id>Unknown</product-id>
          <unique-number-identifier>7a2b679d0aa6837a7f29f864b846c981</unique-number-identifier>
          <venmo-sdk type="boolean">false</venmo-sdk>
        </credit-card>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2013-06-27T02:22:40Z</timestamp>
            <status>authorized</status>
            <amount>100.00</amount>
            <user>Braintree-Go</user>
            <transaction-source>api</transaction-source>
          </status-event>
          <status-event>
            <timestamp type="datetime">2013-06-27T02:22:40Z</timestamp>
            <status>submitted_for_settlement</status>
            <amount>100.00</amount>
            <user>Braintree-Go</user>
            <transaction-source>api</transaction-source>
          </status-event>
          <status-event>
            <timestamp type="datetime">2013-06-27T07:03:52Z</timestamp>
            <status>settled</status>
            <amount>100.00</amount>
            <user nil="true"/>
            <transaction-source></transaction-source>
          </status-event>
        </status-history>
        <plan-id nil="true"/>
        <subscription-id nil="true"/>
        <subscription>
          <billing-period-end-date nil="true"/>
          <billing-period-start-date nil="true"/>
        </subscription>
        <add-ons type="array"/>
        <discounts type="array"/>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <recurring type="boolean">false</recurring>
        <channel nil="true"/>
        <service-fee-amount nil="true"/>
        <escrow-status nil="true"/>
        <disbursement-details>
          <disbursement-date type="date">2013-06-27</disbursement-date>
          <settlement-amount>100.00</settlement-amount>
          <settlement-currency-iso-code>USD</settlement-currency-iso-code>
          <settlement-currency-exchange-rate>1</settlement-currency-exchange-rate>
          <funds-held type="boolean">false</funds-held>
          <success type="boolean">true</success>
        </disbursement-details>
        <disputes type="array"/>
        <authorization-adjustments type="array"/>
        <payment-instrument-type>credit_card</payment-instrument-type>
        <processor-settlement-response-code></processor-settlement-response-code>
        <processor-settlement-response-text></processor-settlement-response-text>
        <risk-data>
          <id nil="true"/>
          <decision>Not Evaluated</decision>
        </risk-data>
        <three-d-secure-info nil="true"/>
        <ships-from-postal-code nil="true"/>
        <shipping-amount nil="true"/>
        <discount-amount nil="true"/>
        <network-transaction-id>020130627022240</network-transaction-id>
      </transaction>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"fcae23f72310f7003e66a7131cf3669c"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002502.563-107.3.151.90-2897677
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
