---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/plans
    method: GET
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <plans type="array">
      <plan>
        <id>test_plan_2</id>
        <merchant-id>4ngqq224rnk6gvxh</merchant-id>
        <billing-day-of-month type="integer">31</billing-day-of-month>
        <billing-frequency type="integer">1</billing-frequency>
        <currency-iso-code>USD</currency-iso-code>
        <description></description>
        <name>test_plan_2</name>
        <number-of-billing-cycles nil="true"/>
        <price>20.00</price>
        <trial-duration type="integer">14</trial-duration>
        <trial-duration-unit>day</trial-duration-unit>
        <trial-period type="boolean">false</trial-period>
        <created-at type="datetime">2013-06-30T16:13:47Z</created-at>
        <updated-at type="datetime">2013-07-16T22:45:47Z</updated-at>
        <add-ons type="array"/>
        <discounts type="array"/>
      </plan>
      <plan>
        <id>test_plan</id>
        <merchant-id>4ngqq224rnk6gvxh</merchant-id>
        <billing-day-of-month nil="true"/>
        <billing-frequency type="integer">1</billing-frequency>
        <currency-iso-code>USD</currency-iso-code>
        <description>test_plan_desc</description>
        <name>test_plan_name</name>
        <number-of-billing-cycles type="integer">2</number-of-billing-cycles>
        <price>10.00</price>
        <trial-duration type="integer">14</trial-duration>
        <trial-duration-unit>day</trial-duration-unit>
        <trial-period type="boolean">true</trial-period>
        <created-at type="datetime">2013-07-13T20:16:48Z</created-at>
        <updated-at type="datetime">2013-07-13T20:16:48Z</updated-at>
        <add-ons type="array">
          <add-on>
            <amount>10.00</amount>
            <created-at type="datetime">2013-11-20T16:20:05Z</created-at>
            <description>A test add-on</description>
            <id>test_add_on</id>
            <kind>add_on</kind>
            <merchant-id>4ngqq224rnk6gvxh</merchant-id>
            <name>test_add_on_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <updated-at type="datetime">2013-11-22T21:30:16Z</updated-at>
          </add-on>
        </add-ons>
        <discounts type="array">
          <discount>
            <amount>10.00</amount>
            <created-at type="datetime">2013-11-20T17:50:29Z</created-at>
            <description>A test discount</description>
            <id>test_discount</id>
            <kind>discount</kind>
            <merchant-id>4ngqq224rnk6gvxh</merchant-id>
            <name>test_discount_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <updated-at type="datetime">2013-11-22T21:31:02Z</updated-at>
          </discount>
        </discounts>
      </plan>
      </plans>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"68a850bad83d9065b8869b540c39aca1"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002491.886-107.3.151.90-6932944
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions/6bh942/cancel
    method: PUT
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array">
          <add-on>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">1</current-billing-cycle>
            <id>test_add_on</id>
            <name>test_add_on_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </add-on>
        </add-ons>
        <balance>0.00</balance>
        <billing-day-of-month type="integer">23</billing-day-of-month>
        <billing-period-end-date type="date">2018-09-22</billing-period-end-date>
        <billing-period-start-date type="date">2018-08-23</billing-period-start-date>
        <created-at type="datetime">2018-08-23T05:34:51Z</created-at>
        <updated-at type="datetime">2018-08-23T05:34:52Z</updated-at>
        <current-billing-cycle type="integer">1</current-billing-cycle>
        <days-past-due nil="true"/>
        <discounts type="array">
          <discount>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">1</current-billing-cycle>
            <id>test_discount</id>
            <name>test_discount_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </discount>
        </discounts>
        <failure-count type="integer">0</failure-count>
        <first-billing-date type="date">2018-08-23</first-billing-date>
        <id>6bh942</id>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <never-expires type="boolean">false</never-expires>
        <next-bill-amount>10.00</next-bill-amount>
        <next-billing-period-amount>10.00</next-billing-period-amount>
        <next-billing-date type="date">2018-09-23</next-billing-date>
        <number-of-billing-cycles type="integer">2</number-of-billing-cycles>
        <paid-through-date type="date">2018-09-22</paid-through-date>
        <payment-method-token>ds74vs</payment-method-token>
        <plan-id>test_plan</plan-id>
        <price>10.00</price>
        <status>Canceled</status>
        <trial-duration nil="true"/>
        <trial-duration-unit nil="true"/>
        <trial-period type="boolean">false</trial-period>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <description nil="true"/>
        <transactions type="array">
          <transaction>
            <id>h1zf7crj</id>
            <status>submitted_for_settlement</status>
            <type>sale</type>
            <currency-iso-code>USD</currency-iso-code>
            <amount>10.00</amount>
            <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
            <sub-merchant-account-id nil="true"/>
            <master-merchant-account-id nil="true"/>
            <order-id nil="true"/>
            <created-at type="datetime">2018-08-23T05:34:50Z</created-at>
            <updated-at type="datetime">2018-08-23T05:34:51Z</updated-at>
            <customer>
              <id>218034099</id>
              <first-name nil="true"/>
              <last-name nil="true"/>
              <company nil="true"/>
              <email nil="true"/>
              <website nil="true"/>
              <phone nil="true"/>
              <fax nil="true"/>
            </customer>
            <billing>
              <id>km</id>
              <first-name nil="true"/>
              <last-name nil="true"/>
              <company nil="true"/>
              <street-address nil="true"/>
              <extended-address nil="true"/>
              <locality nil="true"/>
              <region nil="true"/>
              <postal-code>94107</postal-code>
              <country-name nil="true"/>
              <country-code-alpha2 nil="true"/>
              <country-code-alpha3 nil="true"/>
              <country-code-numeric nil="true"/>
            </billing>
            <refund-id nil="true"/>
            <refund-ids type="array"/>
            <refunded-transaction-id nil="true"/>
            <partial-settlement-transaction-ids type="array"/>
            <authorized-transaction-id nil="true"/>
            <settlement-batch-id nil="true"/>
            <shipping>
              <id nil="true"/>
              <first-name nil="true"/>
              <last-name nil="true"/>
              <company nil="true"/>
              <street-address nil="true"/>
              <extended-address nil="true"/>
              <locality nil="true"/>
              <region nil="true"/>
              <postal-code nil="true"/>
              <country-name nil="true"/>
              <country-code-alpha2 nil="true"/>
              <country-code-alpha3 nil="true"/>
              <country-code-numeric nil="true"/>
            </shipping>
            <custom-fields/>
            <avs-error-response-code nil="true"/>
            <avs-postal-code-response-code>M</avs-postal-code-response-code>
            <avs-street-address-response-code>I</avs-street-address-response-code>
            <cvv-response-code>I</cvv-response-code>
            <gateway-rejection-reason nil="true"/>
            <processor-authorization-code>VH1Y4X</processor-authorization-code>
            <processor-response-code>1000</processor-response-code>
            <processor-response-text>Approved</processor-response-text>
            <additional-processor-response nil="true"/>
            <voice-referral-number nil="true"/>
            <purchase-order-number nil="true"/>
            <tax-amount nil="true"/>
            <tax-exempt type="boolean">false</tax-exempt>
            <credit-card>
              <token>ds74vs</token>
              <bin>401288</bin>
              <last-4>1881</last-4>
              <card-type>Visa</card-type>
              <expiration-month>12</expiration-month>
              <expiration-year>2019</expiration-year>
              <customer-location>US</customer-location>
              <cardholder-name nil="true"/>
              <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
              <prepaid>No</prepaid>
              <healthcare>Unknown</healthcare>
              <debit>Unknown</debit>
              <durbin-regulated>Unknown</durbin-regulated>
              <commercial>Unknown</commercial>
              <payroll>Unknown</payroll>
              <issuing-bank>Unknown</issuing-bank>
              <country-of-issuance>Unknown</country-of-issuance>
              <product-id>Unknown</product-id>
              <unique-number-identifier>7548503e80b587eb6a3be7487aed7c94</unique-number-identifier>
              <venmo-sdk type="boolean">false</venmo-sdk>
            </credit-card>
            <status-history type="array">
              <status-event>
                <timestamp type="datetime">2018-08-23T05:34:51Z</timestamp>
                <status>authorized</status>
                <amount>10.00</amount>
                <user>Braintree-Go</user>
                <transaction-source>recurring</transaction-source>
              </status-event>
              <status-event>
                <timestamp type="datetime">2018-08-23T05:34:51Z</timestamp>
                <status>submitted_for_settlement</status>
                <amount>10.00</amount>
                <user>Braintree-Go</user>
                <transaction-source>recurring</transaction-source>
              </status-event>
            </status-history>
            <plan-id>test_plan</plan-id>
            <subscription-id>6bh942</subscription-id>
            <subscription>
              <billing-period-end-date type="date">2018-09-22</billing-period-end-date>
              <billing-period-start-date type="date">2018-08-23</billing-period-start-date>
            </subscription>
            <add-ons type="array">
              <add-on>
                <amount>10.00</amount>
                <current-billing-cycle type="integer">1</current-billing-cycle>
                <id>test_add_on</id>
                <name>test_add_on_name</name>
                <never-expires type="boolean">true</never-expires>
                <number-of-billing-cycles nil="true"/>
                <quantity type="integer">1</quantity>
              </add-on>
            </add-ons>
            <discounts type="array">
              <discount>
                <amount>10.00</amount>
                <current-billing-cycle type="integer">1</current-billing-cycle>
                <id>test_discount</id>
                <name>test_discount_name</name>
                <never-expires type="boolean">true</never-expires>
                <number-of-billing-cycles nil="true"/>
                <quantity type="integer">1</quantity>
              </discount>
            </discounts>
            <descriptor>
              <name nil="true"/>
              <phone nil="true"/>
              <url nil="true"/>
            </descriptor>
            <recurring type="boolean">true</recurring>
            <channel nil="true"/>
            <service-fee-amount nil="true"/>
            <escrow-status nil="true"/>
            <disbursement-details>
              <disbursement-date nil="true"/>
              <settlement-amount nil="true"/>
              <settlement-currency-iso-code nil="true"/>
              <settlement-currency-exchange-rate nil="true"/>
              <funds-held nil="true"/>
              <success nil="true"/>
            </disbursement-details>
            <disputes type="array"/>
            <authorization-adjustments type="array"/>
            <payment-instrument-type>credit_card</payment-instrument-type>
            <processor-settlement-response-code></processor-settlement-response-code>
            <processor-settlement-response-text></processor-settlement-response-text>
            <risk-data>
              <id>7X8H06K0RLLW</id>
              <decision>Approve</decision>
              <device-data-captured type="boolean">false</device-data-captured>
            </risk-data>
            <three-d-secure-info nil="true"/>
            <ships-from-postal-code nil="true"/>
            <shipping-amount nil="true"/>
            <discount-amount nil="true"/>
            <network-transaction-id>020180823053451</network-transaction-id>
          </transaction>
        </transactions>
        <status-history type="array">
          <status-event>
            <timestamp type="datetime">2018-08-23T05:34:52Z</timestamp>
            <status>Canceled</status>
            <user>Braintree-Go</user>
            <subscription-source>api</subscription-source>
            <balance>0.00</balance>
            <price>10.00</price>
            <currency-iso-code>USD</currency-iso-code>
            <plan-id>test_plan</plan-id>
          </status-event>
          <status-event>
            <timestamp type="datetime">2018-08-23T05:34:51Z</timestamp>
            <status>Active</status>
            <user>Braintree-Go</user>
            <subscription-source>api</subscription-source>
            <balance>0.00</balance>
            <price>10.00</price>
            <currency-iso-code>USD</currency-iso-code>
            <plan-id>test_plan</plan-id>
          </status-event>
        </status-history>
      </subscription>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"86eca36530be5fcb81bd075da83a92ff"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002492.017-107.3.151.90-2897268
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
