---
version: 1
interactions:
- request:
    body: |-
      <search>
        <ids type="array">
          <item>dskdmb</item>
        </ids>
      </search>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions/advanced_search_ids
    method: POST
  response:
    body: |
      <search-results>
        <page-size type="integer">50</page-size>
        <ids type="array">
            <item>dskdmb</item>
        </ids>
      </search-results>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"555d8489d38a47db48ebd52af572c81d"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002496.362-107.3.151.90-2897406
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "4"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/payment_methods/any/btgo_test_token_843629396670111123
    method: DELETE
  response:
    body: ' '
    headers:
      Content-Type:
      - application/xml
      Etag:
      - W/"fbe1e102d29ee3cbf7f98a7c6b8f2549"
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535002496.497-107.3.151.90-6933347
      X-User:
      - kkf6b66dz8xy83p6
    status: 200 OK
    code: 200
    duration: ""
