---
version: 1
interactions:
- request:
    body: |-
      <transaction service-fee-amount="10.00">
        <type>sale</type>
        <amount>2001.00</amount>
        <payment-method-nonce>fake-processor-declined-visa-nonce</payment-method-nonce>
        <merchant-account-id>6609405097548068675</merchant-account-id>
        <options>
          <submit-for-settlement>true</submit-for-settlement>
          <store-in-vault-on-success>true</store-in-vault-on-success>
        </options>
      </transaction>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/transactions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <api-error-response>
        <errors>
          <errors type="array"/>
        </errors>
        <params>
          <transaction>
            <type>sale</type>
            <amount>2001.00</amount>
            <payment-method-nonce>fake-processor-declined-visa-nonce</payment-method-nonce>
            <merchant-account-id>6609405097548068675</merchant-account-id>
            <options>
              <submit-for-settlement>true</submit-for-settlement>
              <store-in-vault-on-success>true</store-in-vault-on-success>
            </options>
            <service-fee-amount>10.00</service-fee-amount>
          </transaction>
        </params>
        <message>Insufficient Funds</message>
        <transaction>
          <id>3s8kd0sj</id>
          <status>processor_declined</status>
          <type>sale</type>
          <currency-iso-code>USD</currency-iso-code>
          <amount>2001.00</amount>
          <merchant-account-id>6609405097548068675</merchant-account-id>
          <sub-merchant-account-id>6609405097548068675</sub-merchant-account-id>
          <master-merchant-account-id>bvps8ckgst59crzs</master-merchant-account-id>
          <order-id nil="true"/>
          <created-at type="datetime">2018-08-23T05:25:09Z</created-at>
          <updated-at type="datetime">2018-08-23T05:25:10Z</updated-at>
          <customer>
            <id nil="true"/>
            <first-name nil="true"/>
            <last-name nil="true"/>
            <company nil="true"/>
            <email nil="true"/>
            <website nil="true"/>
            <phone nil="true"/>
            <fax nil="true"/>
          </customer>
          <billing>
            <id nil="true"/>
            <first-name nil="true"/>
            <last-name nil="true"/>
            <company nil="true"/>
            <street-address nil="true"/>
            <extended-address nil="true"/>
            <locality nil="true"/>
            <region nil="true"/>
            <postal-code>94107</postal-code>
            <country-name nil="true"/>
            <country-code-alpha2 nil="true"/>
            <country-code-alpha3 nil="true"/>
            <country-code-numeric nil="true"/>
          </billing>
          <refund-id nil="true"/>
          <refund-ids type="array"/>
          <refunded-transaction-id nil="true"/>
          <partial-settlement-transaction-ids type="array"/>
          <authorized-transaction-id nil="true"/>
          <settlement-batch-id nil="true"/>
          <shipping>
            <id nil="true"/>
            <first-name nil="true"/>
            <last-name nil="true"/>
            <company nil="true"/>
            <street-address nil="true"/>
            <extended-address nil="true"/>
            <locality nil="true"/>
            <region nil="true"/>
            <postal-code nil="true"/>
            <country-name nil="true"/>
            <country-code-alpha2 nil="true"/>
            <country-code-alpha3 nil="true"/>
            <country-code-numeric nil="true"/>
          </shipping>
          <custom-fields/>
          <avs-error-response-code nil="true"/>
          <avs-postal-code-response-code>M</avs-postal-code-response-code>
          <avs-street-address-response-code>I</avs-street-address-response-code>
          <cvv-response-code>M</cvv-response-code>
          <gateway-rejection-reason nil="true"/>
          <processor-authorization-code nil="true"/>
          <processor-response-code>2001</processor-response-code>
          <processor-response-text>Insufficient Funds</processor-response-text>
          <additional-processor-response>2001 : Insufficient Funds</additional-processor-response>
          <voice-referral-number nil="true"/>
          <purchase-order-number nil="true"/>
          <tax-amount nil="true"/>
          <tax-exempt type="boolean">false</tax-exempt>
          <credit-card>
            <token nil="true"/>
            <bin>400011</bin>
            <last-4>1115</last-4>
            <card-type>Visa</card-type>
            <expiration-month>12</expiration-month>
            <expiration-year>2019</expiration-year>
            <customer-location>US</customer-location>
            <cardholder-name nil="true"/>
            <image-url>https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox</image-url>
            <prepaid>Unknown</prepaid>
            <healthcare>Unknown</healthcare>
            <debit>Unknown</debit>
            <durbin-regulated>Unknown</durbin-regulated>
            <commercial>Unknown</commercial>
            <payroll>Unknown</payroll>
            <issuing-bank>Unknown</issuing-bank>
            <country-of-issuance>Unknown</country-of-issuance>
            <product-id>Unknown</product-id>
            <unique-number-identifier nil="true"/>
            <venmo-sdk type="boolean">false</venmo-sdk>
          </credit-card>
          <status-history type="array">
            <status-event>
              <timestamp type="datetime">2018-08-23T05:25:10Z</timestamp>
              <status>processor_declined</status>
              <amount>2001.00</amount>
              <user>Braintree-Go</user>
              <transaction-source>api</transaction-source>
            </status-event>
          </status-history>
          <plan-id nil="true"/>
          <subscription-id nil="true"/>
          <subscription>
            <billing-period-end-date nil="true"/>
            <billing-period-start-date nil="true"/>
          </subscription>
          <add-ons type="array"/>
          <discounts type="array"/>
          <descriptor>
            <name nil="true"/>
            <phone nil="true"/>
            <url nil="true"/>
          </descriptor>
          <recurring type="boolean">false</recurring>
          <channel nil="true"/>
          <service-fee-amount>10.00</service-fee-amount>
          <escrow-status nil="true"/>
          <disbursement-details>
            <disbursement-date nil="true"/>
            <settlement-amount nil="true"/>
            <settlement-currency-iso-code nil="true"/>
            <settlement-currency-exchange-rate nil="true"/>
            <funds-held nil="true"/>
            <success nil="true"/>
          </disbursement-details>
          <disputes type="array"/>
          <authorization-adjustments type="array"/>
          <payment-instrument-type>credit_card</payment-instrument-type>
          <processor-settlement-response-code></processor-settlement-response-code>
          <processor-settlement-response-text></processor-settlement-response-text>
          <risk-data>
            <id>7X8H051J4S3M</id>
            <decision>Decline</decision>
            <device-data-captured type="boolean">false</device-data-captured>
          </risk-data>
          <three-d-secure-info nil="true"/>
          <ships-from-postal-code nil="true"/>
          <shipping-amount nil="true"/>
          <discount-amount nil="true"/>
          <network-transaction-id>020180823052510</network-transaction-id>
        </transaction>
      </api-error-response>
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Authentication:
      - basic_auth
      X-Broxyid:
      - 02-1535001909.501-107.3.151.90-2874507
      X-User:
      - kkf6b66dz8xy83p6
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions/6m67q6/cancel
    method: PUT
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array">
          <add-on>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">1</current-billing-cycle>
            <id>test_add_on</id>
            <name>test_add_on_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </add-on>
        </add-ons>
        <balance>0.00</balance>
        <billing-day-of-month type="integer">23</billing-day-of-month>
        <billing-period-end-date type="date">2018-09-22</billing-period-end-date>
        <billing-period-start-date type="date">2018-08-23</billing-period-start-date>
        <created-at type="datetime">2018-08-23T05:25:09Z</created-at>
        <updated-at type="datetime">2018-08-23T05:25:10Z</updated-at>
        <current-billing-cycle type="integer">1</current-billing-cycle>
        <days-past-due nil="true"/>
        <discounts type="array">
          <discount>
            <amount>10.00</amount>
            <current-billing-cycle type="integer">1</current-billing-cycle>
            <id>test_discount</id>
            <name>test_discount_name</name>
            <never-expires type="boolean">true</never-expires>
            <number-of-billing-cycles nil="true"/>
            <quantity type="integer">1</quantity>
          </discount>
        </discounts>
        <failure-count type="integer">0</failure-count>
        <first-billing-date type="date">2018-08-23</first-billing-date>
        <id>6m67q6</id>
        <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
        <never-expires type="boolean">false</never-expires>
        <next-bill-amount>1.00</next-bill-amount>
        <next-billing-period-amount>1.00</next-billing-period-amount>
        <next-billing-date type="date">2018-09-23</next-billing-date>
        <number-of-billing-cycles type="integer">2</number-of-billing-cycles>
        <paid-through-date type="date">2018-09-22</paid-through-date>
        <payment-method-token>39rwz7</payment-method-token>
        <plan-id>test_plan</plan-id>
        <price>1.00</price>
        <status>Canceled</status>
        <trial-duration nil="true"/>
        <trial-duration-unit nil="true"/>
        <trial-period type="boolean">false</trial-period>
        <descriptor>
          <name nil="true"/>
          <phone nil="true"/>
          <url nil="true"/>
        </descriptor>
        <description nil="true"/>
        <transactions type="array">
          <transaction>
            <id>2yvh7af3</id>
            <status>submitted_for_settlement</status>
            <type>sale</type>
            <currency-iso-code>USD</currency-iso-code>
            <amount>1.00</amount>
            <merchant-account-id>bvps8ckgst59crzs</merchant-account-id>
            <sub-merchant-account-id nil="true"/>
            <master-merchant-account-id nil="true"/>
            <order-id nil="true"/>
            <created-at type="datetime">2018-08-2[...]
- request:
    body: |-
      <subscription>
        <id>gdjcsg</id>
        <options>
          <prorate-charges>true</prorate-charges>
          <revert-subscription-on-proration-failure>true</revert-subscription-on-proration-failure>
          <start-immediately>true</start-immediately>
        </options>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions/gdjcsg
    method: PUT
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
        <add-ons type="array">
          <a[...]
- request:
    body: |-
      <subscription>
        <id>8jrrqr</id>
        <options>
          <prorate-charges>true</prorate-charges>
          <revert-subscription-on-proration-failure>true</revert-subscription-on-proration-failure>
          <start-immediately>true</start-immediately>
        </options>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
 [...]
- request:
    body: |-
      <subscription>
        <id>4nkppm</id>
        <add-ons>
          <add type="array">
            <modification>
              <amount>3.00</amount>
              <quantity>1</quantity>
              <never-expires>true</never-expires>
              <inherited-from-id>test_add_on</inherited-from-id>
            </modification>
          </add>
        </add-ons>
        <discounts>
          <add type="array">
            <modification>
              <amount>1.00</amount>
              <number-of-billing-cycles>2</number-of-billing-cycles>
              <quantity>1</quantity>
              <inherited-from-id>test_discount</inherited-from-id>
            </modification>
          </add>
        </discounts>
      </subscription>
    form: {}
    headers:
     [...]
- request:
    body: |-
      <subscription>
        <id>B5613A01F2FC6DAC175D18EFBA202E49</id>
        <options>
          <prorate-charges>true</prorate-charges>
          <revert-subscription-on-proration-failure>true</revert-subscription-on-proration-failure>
          <start-immediately>true</start-immediately>
        </options>
        <planId>test_plan_2</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5[...]
- request:
    body: |-
      <subscription>
        <paymentMethodToken>kfjswc</paymentMethodToken>
        <planId>test_plan</planId>
      </subscription>
    form: {}
    headers:
      Authorization:
      - Basic amtxMjhwY3hqNHI4NWR3cjo2NjA2MmEzODc2ZTJkYzI5OGYyMTk1ZjBiZjE3M2Y1YQ==
      Content-Type:
      - application/xml
      X-Apiversion:
      - "3"
    url: https://api.sandbox.braintreegateway.com:443/merchants/4ngqq224rnk6gvxh/subscriptions
    method: POST
  response:
    body: |
      <?xml version="1.0" encoding="UTF-8"?>
      <subscription>
       [...]
